            // ----------------------------------------
            //      Check out branded selfies section
            // ----------------------------------------


.section-branded-selfies {
    text-transform: uppercase;
    color: white;
    background: url('/assets/Branded Selfie CTA Graphic.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0;
    
    

    h2 {
        margin-bottom: 60px;
        width: 70%;
        margin-left: 15%;
    }
    
    a {
        background: 0;
        border: 3px solid white;
        color: white; 
    }
}