            // ----------------------------------------
            //           Gif Row section
            // ----------------------------------------

.gif-strip {
    margin-top: 64px;
    margin-bottom: -5px;

    img {
        padding: 0;
        margin: -2px;
        width: 20%;
    }
}