<div class="printerpage-hero-section">
    <%= render 'layouts/nav' %>
    <img src="<%= asset_path("carousel01-big.jpg") %>">
</div>

<div class="how-to-play-section">
    <span class="how-to-play-quote">How to play</span>
</div>

<div class="stp-icon-section">
    <div class="snap-icon-section">
        <span class="stp-icon-header">Snap.</span>
        <span class="stp-icon-text">Take of upload a photo</br>to instagram</span>
    </div>
</div>