<!DOCTYPE Html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        
        <p>New message from Social Playgrounds Home Page Contact Form!, from <%= "#{@contact.name}, #{@contact.email}" %></p>
        </br>
        <p><%= @contact.name %></p>
        <p><%= @contact.phone %></p>
        <p><%= @contact.comments %></p>
        
    </body>
</html>