<!DOCTYPE Html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        
        <p>New message from Social Playgrounds Partner Contact Form!, from <%= "#{@contact.name}, #{@contact.email}" %></p>
        </br>
        <p>Name:    <%= @contact.name %></p>
        <p>Phone:    <%= @contact.phone %></p>
        <p>Message:    <%= @contact.comments %></p>
        
    </body>
</html>