<!DOCTYPE Html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        
        <p>Partner enquiry from <%= @contact.email %></p>
        </br>
        <p><strong>Name: </strong><%= @contact.name %></p>
        </br>
        <p><strong>Phone: </strong><%= @contact.phone %></p>
        </br>
        <p><strong>Message: </strong><%= @contact.comments %></p>
        
    </body>
</html>