

img {
    max-width: 100%;
}            
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 0;   
}
.box {
    width:70%;
    padding:20px;
    background:#fff;
    margin:20px auto 60px;
    border-radius:2px;
}
.box {
    background:#eee;
    margin:0;
    padding:60px 20px;
    text-align:center;
    -webkit-box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
            box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
}

.css3-shadow{
    background: #fff;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}

.round-shadow {
    background: #fff;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
.round-shadow:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}

// .sweet-alert {
//     font-family: 'gotham_bookregular','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    
//     h2 {
//         color: #575757;
//         font-size: 30px;
//         text-align: center;
//         font-weight: 600;
//         text-transform: none;
//         position: relative;
//         margin: 25px 0;
//         padding: 0;
//         line-height: 40px;
//         display: block;
//         font-family: 'gotham_boldregular';
//     }
    
//     button {
//         background-color: #ff9b7e !important;
//         border-radius: 0;
//         font-family: 'gotham_boldregular';
//     }
// }
@media screen and (min-width: 768px) and (orientation: portrait) {
    // .sweet-alert {
    //     background-color: white;
    //     font-family: 'gotham_bookregular','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //     width: 478px;
    //     padding: 17px;
    //     border-radius: 5px;
    //     text-align: center;
    //     position: fixed;
    //     left: 52.1vw;
    //     top: 58vw;
    //     margin-left: -256px;
    //     margin-top: -200px;
    //     overflow: hidden;
    //     display: none;
    //     z-index: 99999;
        
    //     h2 {
    //         color: #575757;
    //         font-size: 30px;
    //         text-align: center;
    //         font-weight: 600;
    //         text-transform: none;
    //         position: relative;
    //         margin: 25px 0;
    //         padding: 0;
    //         line-height: 40px;
    //         display: block;
    //         font-family: 'gotham_boldregular';
    //     }
    //     button {
    //         background-color: #ff9b7e !important;
    //         color: white;
    //         border: none;
    //         box-shadow: none;
    //         font-size: 17px;
    //         font-weight: 500;
    //         border-radius: 0;
    //         padding: 10px 32px;
    //         margin: 26px 5px 0 5px;
    //         cursor: pointer;
    //         font-family: 'gotham_boldregular';
    //     }
    // }
}
@media screen and (min-width: 5px) and (orientation: landscape) {
    // .sweet-alert {
    //     background-color: white;
    //     font-family: 'gotham_bookregular','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //     width: 478px;
    //     padding: 17px;
    //     border-radius: 5px;
    //     text-align: center;
    //     position: fixed;
    //     left: 52.1vw;
    //     top: 29vw;
    //     margin-left: -256px;
    //     margin-top: -200px;
    //     overflow: hidden;
    //     display: none;
    //     z-index: 99999;
        
    //     h2 {
    //         color: #575757;
    //         font-size: 30px;
    //         text-align: center;
    //         font-weight: 600;
    //         text-transform: none;
    //         position: relative;
    //         margin: 25px 0;
    //         padding: 0;
    //         line-height: 40px;
    //         display: block;
    //         font-family: 'gotham_boldregular';
    //     }
        
    //     button {
    //         background-color: #ff9b7e !important;
    //         color: white;
    //         border: none;
    //         box-shadow: none;
    //         font-size: 17px;
    //         font-weight: 500;
    //         border-radius: 0;
    //         padding: 10px 32px;
    //         margin: 26px 5px 0 5px;
    //         cursor: pointer;
    //         font-family: 'gotham_boldregular';
    //     }
    // }
}
@media screen and (min-width: 1850px) and (min-height: 1000px) {
    // .sweet-alert {
    //     background-color: white;
    //     font-family: 'gotham_bookregular','Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    //     width: 478px;
    //     padding: 17px;
    //     border-radius: 5px;
    //     text-align: center;
    //     position: fixed;
    //     left: 52.1vw;
    //     top: 25vw;
    //     margin-left: -256px;
    //     margin-top: -200px;
    //     overflow: hidden;
    //     display: none;
    //     z-index: 99999;
    // }
}


.facebook-social, .twitter-social, .instagram-social {
    background: url('social-icons-spritesheet.png') no-repeat;
    position: absolute;
    height: 4vw;
    width: 5vw;
    background-size: 5vw;
    z-index: 999;
    cursor: pointer;
}
.facebook-social {
    background-position: 0vw 0vw;
    top: 16vw;
    right: 0vw;
}
.twitter-social {
    right: 0vw;
    top: 22vw;
    background-position: 0vw -4vw;
}
.instagram-social {
    right: 0vw;
    top: 27.5vw;
    background-position: 0vw -8vw;
}
.scroll-arrow {
    position: fixed;
    top: 91%;
    right: 2vw;
    height: 5vw;
    opacity: 0.7;
    z-index: 999;
}

@media screen and (min-width: 5px) and (orientation: portrait) {
    .facebook-social, .twitter-social, .instagram-social {
        background: url("social-icons-spritesheet.png") no-repeat;
        position: absolute;
        height: 10vw;
        width: 11vw;
        background-size: 12vw;
        z-index: 999;
        cursor: pointer;
    }
    .facebook-social {
        background-position: 0vw -1vw;
        top: 3vw;
        right: 50vw;
    }
    .twitter-social {
        right: 39vw;
        top: 3vw;
        background-position: 0vw -9.5vw;
    }
    .instagram-social {
        right: 25vw;
        top: 3vw;
        background-position: 0vw -19vw;
    }
    
    .scroll-arrow {
        position: fixed;
        right: 4vw;
        height: 9vw;
        top: 93%;
        opacity: 0.7;
        z-index: 999;
    }
}
@media screen and (min-width: 768px) and (orientation: portrait) {
    .facebook-social, .twitter-social, .instagram-social {
        background: url("social-icons-spritesheet.png") no-repeat;
        position: absolute;
        height: 10vw;
        width: 11vw;
        background-size: 12vw;
        z-index: 999;
        cursor: pointer;
    }
    .facebook-social {
        background-position: 0vw -1vw;
        top: 2vw;
        right: 50vw;
    }
    .twitter-social {
        right: 39vw;
        top: 2vw;
        background-position: 0vw -9.5vw;
    }
    .instagram-social {
        right: 25vw;
        top: 2vw;
        background-position: 0vw -19vw;
    }
    .scroll-arrow {
        position: fixed;
        right: 3vw;
        height: 8vw;
        top: 92%;
        opacity: 0.7;
        z-index: 999;
    }
}
@media screen and (min-width: 5px) and (max-width: 1023px) and (orientation: landscape) {
    .facebook-social, .twitter-social, .instagram-social {
        background: url("social-icons-spritesheet.png") no-repeat;
        position: absolute;
        height: 6vw;
        width: 6vw;
        background-size: 6vw;
        z-index: 999;
        cursor: pointer;
    }
    .facebook-social {
        background-position: -1vw 0vw;
        top: 1vw;
        right: 25vw;
        height: 5vw;
    }
    .twitter-social {
        right: 20vw;
        top: 1.6vw;
        background-position: 0vw -5vw;
        height: 4.4vw;
    }
    .instagram-social {
        right: 13vw;
        top: 0.9vw;
        background-position: 0vw -9vw;
        width: 6vw;
    }
    .scroll-arrow {
        position: fixed;
        top: 89%;
        right: 2vw;
        height: 5vw;
        opacity: 0.7;
        z-index: 999;
    }
}
@media screen and (min-width: 1200px) and (orientation: landscape) {
    .facebook-social {
        background-position: 0vw 0vw;
        top: 16vw;
        right: 0vw;
    }
    .twitter-social {
        right: 0vw;
        top: 20vw;
        background-position: 0vw -4vw;
    }
    .instagram-social {
        right: 0vw;
        top: 24.5vw;
        background-position: 0vw -8vw;
    }
}