

img {
    max-width: 100%;
}            
            
            
            
            
            
            // ----------------------------------------
            //           Horiz Line Section
            // ----------------------------------------

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 0;   
}