
@font-face {
    font-family: 'gotham_bookregular';
    src: url('copyfonts.com_gotham-book-webfont.eot');
    src: url('copyfonts.com_gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('copyfonts.com_gotham-book-webfont.woff2') format('woff2'),
         url('copyfonts.com_gotham-book-webfont.woff') format('woff'),
         url('copyfonts.com_gotham-book-webfont.ttf') format('truetype'),
         url('copyfonts.com_gotham-book-webfont.svg#gotham_bookregular') format('svg');
    
    font-weight: normal;
    font-style: normal;

}            /*     gotham_bookregular     */


@font-face {
    font-family: 'gotham_boldregular';
    src: url('copyfonts.com_gotham-bold-webfont.eot');
    src: url('copyfonts.com_gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('copyfonts.com_gotham-bold-webfont.woff2') format('woff2'),
         url('copyfonts.com_gotham-bold-webfont.woff') format('woff'),
         url('copyfonts.com_gotham-bold-webfont.ttf') format('truetype'),
         url('copyfonts.com_gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    
    font-weight: normal;
    font-style: normal;

}            /*     gotham_boldregular     */

html {
    height: 100%;
}

body {
    font-family: 'gotham_boldregular';
    height: 100%;
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
}





                                   /*    UNIVERSAL DEVICE-SIZE STYLES     */



         /* ----------------------------------------
         //            Gif Hero Section
         // -------------------------------------- */


.hero-image-container {
    position: relative;
    overflow: hidden;
    background: url(/assets/Background-Final-B&W-GIF.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;


    #gif-foreground-hero {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        padding-right: 3vw;
    }
}                             /* -------- /Gif Hero Section --------*/

   


         /* ----------------------------------------
         //     Gif Quote 1 Section with Shadow
         // -------------------------------------- */


.content1-quote-gif {
    text-transform: uppercase;
    color: #888888;;
    background: #fff;
    
    h2 {
        font-family: 'gotham_boldregular' !important;
    }
}  
.selfie-round-shadow {
    z-index: 1;
    border-top: 2px solid rgba(211,211,211,0.8);
    
    .white-fill-for-selfie {
        background: #fff;
    
        .selfie-icon-container {
        
            .selfie-icon-section {
                z-index: 1;
                font-family: 'gotham_bookregular';
            }
        }
    }
}                               /* -------- /Gif Quote 1 Section with Shadow --------*/


         /* ----------------------------------------
         //            Gif Icon Section
         // -------------------------------------- */


.gif-finger-sprite {
    background: url(/assets/finger-grow-sprite.png) no-repeat;
    height: 11vw;
    margin-left: 15vw;
    width: 8vw;
    background-size: 7vw;
    background-position: 0vw 0.4vw;
    
    &:hover {
        background-position: 0vw -10.5vw;
    }
}

.gif-megaphone-sprite {
    background: url(/assets/megaphone-grow-sprite.png) no-repeat;
    height: 10vw;
    margin-left: 13vw;
    width: 13vw;
    background-size: 12vw;
    background-position: 0vw 0.5vw;
    
    &:hover {
        background-position: 0vw -10vw;
    }
}

.gif-phone-sprite {
    background: url(/assets/phone-grow-sprite.png) no-repeat;
    height: 10.6vw;
    margin-left: 16vw;
    background-size: 6vw;
    width: 8vw;
    background-position: 0vw 0.5vw;
    
    &:hover {
        background-position: 0vw -9.8vw;
    }
}


.gif-icon-section {
    position: relative;
    z-index: -2;
    padding: 80px 0;
    background: #fff;
}
.icon-block h5 {
    color: #888888;
    font-family: 'gotham_bookregular';
}                                    /* -------- /Gif Icon Section --------*/





            /* ----------------------------------------
            //           Video Section
            // ------------------------------------- */


.gifvideo {
    width: 100%;
}                                        /* -------- /Video Section --------*/

            
            
            
            
             /*-------------------------------------------->
             //--         Blurb on Image Section         -->
               ------------------------------------------ */    
               

.blurb-on-image-small {
    position: relative;
    
    img {
        width: 100%;
    }
    .blurb-gif-logo {
        position: absolute;
        width: 12%;
        height: auto;
        right: 5%;
        bottom: 7%;
    }
}

.blurb-on-image {
    position: relative;
    
    img {
        width: 100%;   
    }
    p {
        font-family: 'gotham_bookregular';
        color: white;
        position: absolute;
        left: 10%;
        bottom: 5%;
        width: 60%;
    }
    .blurb-gif-logo {
        position: absolute;
        width: 12%;
        height: auto;
        right: 5%;
        bottom: 7%;
    }
}

.blurb-below-image {

    p {
        text-align: center;
    }
    .blurb-under-header {
        text-transform: uppercase;
        color: #9fd1b8;
    }
    
    strong {
        font-size: 1.6em;
        text-transform: uppercase;
    }
}

.blurb-below-image-row {
    margin-bottom: 0;
    padding-bottom: 20px;
}                            /* -------- /Blurb on Image Section --------*/

            
            
            
            /* ----------------------------------------
            //          ipad with gif section
            // ------------------------------------- */



.ipad-container {
    position: relative;
}

.staggered-test {
    position: absolute;
    left: 60%;
    top: 27%;
    
    li p {
        color: #888888;
        font-family: 'gotham_bookregular';
        
    }
}

#wrapper {
  width: 450px;
  margin: 115px auto;
}

/* iPad */
.ipad-front {
  position: relative;
  width: 450px;
  height: 600px;
  background-color: #000;  
  border-radius: 10px;
  border: 2px solid #888;
  padding: 40px;
  box-shadow: 1px 2px 0px #111;
}

.ipad-front-camera {
  width: 8px;
  height: 8px;
  background-color: #222;
  border-radius: 50px;
  position: absolute;
  top: 21px;
  left: 219px;
}

.ipad-front-camera span {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #111;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.ipad-front-display {
  width: 100%;
  height: 100%;
  margin-top: 11px;
}

.ipad-front-home-button {
  width: 22px;
  height: 22px;
  background-color: #000;
  border:1px solid #111;
  border-radius: 50px;
  position: absolute;
  bottom: 17px;
  left: 211px;
  box-shadow: 1px 1px 2px #666;
}

.ipad-front-home-button span {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #000;
  border:1px solid #444;
  border-radius: 2px;
} 

/* /iPad */

.small-ipad-container {
    position: relative;
    
    #small-wrapper {
        width: 331px;
    }
    
    .small-ipad-front {
        background-color: #000;  
        border-radius: 10px;
        border: 2px solid #888;
        padding: 40px;
        box-shadow: 1px 2px 0px #111;
        height: 373.33px;
        left: 9em;
        position: relative;
        top: 50%;
        width: 280px;
        margin: -100px 0 0 -100px;
        
   }

    .small-ipad-front-camera {
        width: 8px;
        height: 8px;
        background-color: #222;
        border-radius: 50px;
        position: absolute;
        top: 16px;
        left: 134px;
    }

    .small-ipad-front-camera span {
        display: block;
        width: 4px;
        height: 4px;
        background-color: #111;
        border-radius: 50px;
        position: absolute;
        top: 2px;
        left: 2px;
    }

    .small-ipad-front-display {
        width: 108%;
        height: 100%;
        margin-top: 2px;
        margin-left: -8px;
    }

    .small-ipad-front-home-button {
        width: 18px;
        height: 18px;
        background-color: #000;
        border:1px solid #111;
        border-radius: 50px;
        position: absolute;
        bottom: 12px;
        left: 129px;
        box-shadow: 1px 1px 2px #666;
    }

    .small-ipad-front-home-button span {
        width: 9px;
        height: 9px;
        position: absolute;
        top: 4px;
        left: 4px;
        background-color: #000;
        border:1px solid #444;
        border-radius: 2px;
    }
}

.container.small-ipad-gif-text-container {
    width: 100%;
    
    .container {
        width: 100%;
        
        .ipad-section-content-small {
            margin-bottom: -14px;
            
            .staggered-test-small li {
                border-bottom: 2px solid rgba(200,200,200,0.8);
            }
    
            .staggered-test-small li:nth-child(1) p {
            }
 
    
            .staggered-test-small li:nth-child(3) {
                border-bottom: none;
            }

            .staggered-test-small p {
                color: #888;
            }
            .staggered-test-small .gifgif-global a {
                color: #888;
                
                &:hover {
                    color: #9fd1b8;
                }
            }
        }
    }
}                   /* -------- /ipad with gif section --------*/




          
            /* ----------------------------------------
            //        Gif Strip Section section
            // ------------------------------------- */
            
            

.gif-strip {
    margin-top: 64px;
    margin-bottom: -5px;

    img {
        padding: 0;
        margin: -2px;
        width: 20%;
    }
}     

.small-gif-strip {
    margin-top: 62px;
    margin-bottom: -6px;
    width: 102%;
    
    img {
        width: 33.5%;
        margin: -1%;
    }
    
    img:first-child {
        margin-left: 1px;
    }
}                                       /* -------- /Gif Strip Section section --------*/






            /* ----------------------------------------
            //                GifGif CTA
            // ------------------------------------- */



.orange-quote-section {
    text-transform: uppercase;
    background: #f7a73f;
    color: white;
    padding: 58px 0;
    
    h2 {
        font-size: 1.8em;
        line-height: 1.1;
    }
    
    p {
        color: #fff;
        border: 3px solid #fff;
        display: inline-block;
        padding: 8px 15px;
        margin-top: 29px;
        margin-bottom: 0;
    }

}                                /* ---------------- /GifGif CTA ----------------*/

            
           
            /* ----------------------------------------
            //           Branded Selfies CTA
            // ------------------------------------- */
            
            

.branded-selfies-section {
    
    text-transform: uppercase;
    color: #fff;
    background: url('/assets/Branded Selfie CTA Graphic.png') no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    
    p {
        color: #fff;
        border: 3px solid #fff;
        display: inline-block;
        padding: 8px 15px;
        margin-top: 29px;
    }
}                             /* ---------------- /Branded Selfies CTA ----------------*/




       
       
       
       
        /*--------------------------------------------------------------
        //                        MEDIA QUERIES
        //----------------------------------------------------------- */



@media screen and (min-width: 5px) and (orientation: portrait) {
    .hero-image-container {
        width: 100%;
        height: 99vh;
        
        #gif-foreground-hero {
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
            padding-right: 3vw;
            padding-top: 49vw;
        }
        
        .gif-hero-text {
            position: absolute;
            color: white;
            font-family: 'gotham_boldregular';
            text-transform: uppercase;
            text-align: center;
            left: 7vw;
            font-size: 4.5vw;
            z-index: 1;
            line-height: 4.5vw;
            top: 44vw;
        }
        
        img#facebook-icon {
            position: absolute;
            right: 1.5vw;
            height: 5vw;
            top: 28vw;
        }
        img#twitter-icon {
            position: absolute;
            right: 1.5vw;
            height: 5vw;
            top: 36vw;
        }
        img#instagram-icon {
            position: absolute;
            right: 1.5vw;
            height: 5vw;
            top: 43vw;
        }
    }
    .quote-section-1 .container {
        width: 95%;
    
        .content1-quote-gif h2 {

            padding: 24% 0;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 7.5vw;
        }
    }
    .gif-sprites {
        display: none;
    }
    .gif-no-sprite {
        display: block;
    }
    .gif-icon-section {
        padding: 4% 0 9% 0;
        
        .icon-block-1, .icon-block-2 {
            border-bottom: 1px solid rgba(200,200,200,0.8);
        }
        
        .icon-block-1, .icon-block-2, .icon-block-3 {
            
            h5 {
                font-size: 7vw;
                margin-top: 8%;         
            }
            img {
                -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                        transform: scale(1);
            }
        }
        
        .icon-block-1 {
            margin-top: 4%;
            margin-bottom: 0;
    
            .icon-block {
                padding-bottom: 10%;
            }
        }
    
        .icon-block-2 {
            margin-top: 9%;
        
            .icon-block {
                padding-bottom: 9%;
            }
        }
    
        .icon-block-3 {
            margin-top: 9%;
            
            img {
                height: 29vw;
            }
        }
    }
    .quote2-section {
        margin-top: -1%;
        
        .container {
            width: 95%;
            
            h2 {
                text-transform: uppercase;
                margin: 15% 0;
                color: #fa9c25;
                font-size: 7vw;
            }
        }
    }
    .blurb-on-image {
        display: none;
    }
    .blurb-on-image-small {
        display: block;
    }
    .blurb-container {
        width: 90%;
        
        .small-blurb-p {
            margin-top: 16%;
            
            .blurb-under-header {
                font-size: 6vw;
            }
        }
        
        .gif-quote-under-image {
            line-height: 1.9;
            font-size: 5vw;
            padding: 2% 4%;
            color: #666;
            margin-bottom: 17%;
        }
    }
    .ipad-container {
        display: none;
    }
    .small-ipad-container {
        display: block;
        margin-top: 20%;
        width: 100%;
        
        #small-wrapper {
            -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                    transform: scale(0.9);
            margin: 0 auto;
        }
    }
    .ipad-container {
        display: none;
    }
    .small-ipad-gif-text-container {
        display: block;
        width: 90%;
        
        .ipad-section-content-small {
            margin-bottom: 5%;
            margin-top: 12%;
            
            .ul-below-gifs {
                margin-top: 16vw;
                color: #666;
                text-align: center;
                
                .branding-li, .live-gallery-li {
                    border-bottom: 1px solid rgba(10,10,10,0.2);
                }
                .li-header-ipad {
                    font-size: 6vw;
                }
                .li-body-ipad {
                    font-size: 5vw;
                }
            }
            .live-gallery {
                margin-top: 15vw;
            }
            .gifgif-global {
                font-size: 5vw;
            }
            .gifgif-link {
                color: #666;
                
                &:hover {
                    color: #9fd1b8;
                }
            }
        }
    }
    .gif-strip {
        display: none;
    }
    .small-gif-strip {
        display: block;
        -webkit-transform: scaleX(1.01);
            -ms-transform: scaleX(1.01);
                transform: scaleX(1.01);
        margin-top: 16vw;
    }
    .orange-quote-section {
        padding: 10% 0;
        
        h2 {
            font-size: 6.5vw;
        }
        .book-now-button {
            margin-top: 5%;
            -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                    transform: scale(0.9);
            
        }
    }
    .branded-selfies-section {
        padding: 9% 2% 10% 2%;
        
        h2 {
            font-size: 6.4vw;
        }
        a p {
            margin-top: 6%;
            -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                    transform: scale(0.9);
        }
    }
    footer {
        padding: 0;
        margin: 0;
        
        p {
            margin: 0;
            font-size: 9px;
            padding: 24px;
        }
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .hero-image-container {
        width: 100%;
        height: 99vh;
        
        .gif-hero-text {
            position: absolute;
            color: white;
            font-family: 'gotham_boldregular';
            text-transform: uppercase;
            text-align: center;
            left: 12vw;
            font-size: 4vw;
            z-index: 1;
            line-height: 4.5vw;
            top: 20vw;
        }
        
        img#facebook-icon {
            position: absolute;
            right: 1.5vw;
            height: 4vw;
            top: 28vw;
        }
        img#twitter-icon {
            position: absolute;
            right: 1.5vw;
            height: 4vw;
            top: 34vw;
        }
        img#instagram-icon {
            position: absolute;
            right: 1.5vw;
            height: 4vw;
            top: 40vw;
        }
    }
    .quote-section-1 .container {
        width: 95%;
    
        .content1-quote-gif h2 {

            margin-top: 0;
            margin-bottom: 0;
            padding: 18vw 0;
            font-size: 4.5vw;
        }
    }
    .gif-sprites {
        display: none;
    }
    .gif-no-sprite {
        display: block;
    }
    .gif-icon-section {
        padding: 4% 0 9% 0;
        
        .icon-block-1, .icon-block-2 {
            border-bottom: 1px solid rgba(200,200,200,0.8);
        }
        
        .icon-block-1, .icon-block-2, .icon-block-3 {
            
            h5 {
                font-size: 7vw;
                margin-top: 8%;         
            }
            img {
                -webkit-transform: scale(1);
                    -ms-transform: scale(1);
                        transform: scale(1);
            }
        }
        
        .icon-block-1 {
            margin-top: 4%;
            margin-bottom: 0;
    
            .icon-block {
                padding-bottom: 10%;
            }
            img {
                height: 20vw !important;
            }
        }
    
        .icon-block-2 {
            margin-top: 9%;
        
            .icon-block {
                padding-bottom: 9%;
            }
        }
    
        .icon-block-3 {
            margin-top: 9%;
            
            img {
                height: 29vw;
            }
        }
    }
    .gif-icon-section {
        padding: 3vw 0 7vw 0;
        
        .icon-block-1, .icon-block-2 {
            border-bottom: 1px solid rgba(200,200,200,0.8);
        }
        
        .icon-block-1, .icon-block-2, .icon-block-3 {
            
            h5 {
                font-size: 5vw;
                margin-top: 5vw;         
            }
            img {
                height: 18vw;
            }
        }
        
        .icon-block-1 {
            margin-top: 4vw;
            margin-bottom: 0;
    
            .icon-block {
                padding-bottom: 9vw;
            }
        }
    
        .icon-block-2 {
            margin-top: 8vw;
        
            .icon-block {
                padding-bottom: 9vw;
            }
        }
    
        .icon-block-3 {
                margin-top: 8vw;
        }
    }
    .quote2-section {
        margin-top: -1%;
        
        .container {
            width: 95%;
            
            h2 {
                text-transform: uppercase;
                margin: 19vw 0;
                color: #fa9c25;
                font-size: 5vw;
            }
        }
    }
    .blurb-container {
        width: 90%;
        
        .small-blurb-p {
            margin-top: 17vw;
            
            .blurb-under-header {
                font-size: 6vw;
            }
        }
        
        .gif-quote-under-image {
            line-height: 2;
            font-size: 4vw;
            padding: 2vw 13vw;
            margin-bottom: 6vw;
        }
    }
    .small-ipad-container {
        display: block;
        margin-top: 22vw;
        width: 100%;
        
        #small-wrapper {
            -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                    transform: scale(1.1);
            margin: 0 auto;
        }
    }
    .small-ipad-gif-text-container {
        display: block;
        width: 90%;
        
        .ipad-section-content-small {
            margin-bottom: 5%;
            margin-top: 18vw;
            
            .ul-below-gifs {
                margin-top: 16vw;
                color: #666;
                text-align: center;
                
                .branding-li, .live-gallery-li {
                    border-bottom: 1px solid rgba(10,10,10,0.2);
                }
                .branding-li .branding {
                    margin-bottom: 6vw;
                }
                .li-header-ipad {
                    font-size: 5vw;
                }
                .li-body-ipad {
                    font-size: 3.5vw;
                }
            }
            .live-gallery {
                margin-top: 8vw;
                margin-bottom: 6vw;
            }
            .gifgif-global {
                font-size: 3vw;
            }
            .gifgif-link {
                color: #666;
                
                &:hover {
                    color: #9fd1b8;
                }
            }
            
            .staggered-test-small {
                text-align: center;
                margin-bottom: -6%;
                
                li {
                    line-height: 6vw;
                }
            
                li:first-child {
                    padding-bottom: 3%;
                }
                .branding {
                    margin-bottom: 4vw;
                }
                
                .live-gallery {
                    margin-top: 13vw;
                    margin-bottom: 7vw;
                }
                
                .li-header-ipad {
                    font-size: 6vw;
                }
                .li-body-ipad {
                    font-size: 4.5vw;
                }
                .gifgif-global {
                    font-size: 5.5vw;
                    margin-top: 2vw;
                    margin-bottom: 15vw;
                    
                    a {
                        color: #888;
                        
                        &:hover {
                        color: #9fd1b8;
                        }
                    }
                }
            }
        }
    }
    .small-gif-strip {
        display: block;
        -webkit-transform: scaleX(1.01);
            -ms-transform: scaleX(1.01);
                transform: scaleX(1.01);
        margin-top: 9vw;
    }
    .orange-quote-section {
        padding: 11vw 0;
        
        h2 {
            font-size: 5.5vw;
        }
        a {
            font-size: 3vw;
        }
        .book-now-button {
            margin-top: 6%;
            -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                    transform: scale(0.9);
            color: #fff;
            border: 0.7vw solid #fff;
            display: inline-block;
            padding: 1vw 2vw;
            
        }
    }
    .branded-selfies-section {
        padding: 9% 2% 10% 2%;
        
        h2 {
            font-size: 5.5vw;
        }
        a {
            font-size: 3vw;
        }
        a p {
            margin-top: 6%;
            -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                    transform: scale(0.9);
            color: #fff;
            border: 0.7vw solid #fff;
            display: inline-block;
            padding: 1vw 2vw;
        }
    }
}

@media screen and (min-width: 5px) and (max-width: 1023px) and (orientation: landscape) {
    .hero-image-container {
        width: 100%;
        height: 99vh;
        
        #gif-foreground-hero {
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
            padding-right: 3vw;
            padding-top: 27vw;
            height: 72vw;
        }
        
        .gif-hero-text {
            position: absolute;
            color: white;
            font-family: 'gotham_boldregular';
            text-transform: uppercase;
            text-align: center;
            left: 12vw;
            font-size: 4vw;
            z-index: 1;
            line-height: 4.5vw;
            top: 9vw;
        }
        
        .logo-main {
             height: 10vw;
            left: 3vw;
            top: 1vw;
        }
   
        
        img#facebook-icon {
            position: absolute;
            right: 1.5vw;
            height: 3vw;
            top: 18vw;
        }
        img#twitter-icon {
            position: absolute;
            right: 1.5vw;
            height: 3vw;
            top: 22vw;
        }
        img#instagram-icon {
            position: absolute;
            right: 1.5vw;
            height: 3vw;
            top: 26vw;
        }
    }
    .quote-section-1 .container {
        width: 95%;
    
        .content1-quote-gif h2 {

            padding: 16vw 0;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 5vw;
        }
    }
    .gif-sprites {
        display: none;
    }
    .gif-no-sprite {
        display: block;
    }
    
    .gif-icon-section {
        padding: 4vw 0 5vw 0;
        
        .icon-block-1, .icon-block-2 {
            border-bottom: 1px solid rgba(200,200,200,0.8);
        }
        
        p.light {
            margin: 0;
        }
        
        .icon-block-1 {
            margin-top: 4vw;
            margin-bottom: 0;
    
            .icon-block {
                padding-bottom: 7vw;
                
                h2 {
                    margin-top: 2vw;
                }
                img {
                    height: 18vw;
                }
                h5 {
                    font-size: 5vw;
                    margin-top: 3vw;
                }
            }
        }
    
        .icon-block-2 {
            margin-top: 6vw;
        
            .icon-block {
                padding-bottom: 8vw;
                
                h2 {
                    margin-top: 4vw;
                }
                img {
                    height: 16vw;
                }
                h5 {
                    font-size: 5vw;
                    margin-top: 3vw;
                }
            }
        }
    
        .icon-block-3 {
            margin-top: 8vw;
            
            h2 {
                margin-top: 2vw;
            }
            img {
                height: 15vw;
            }
            h5 {
                font-size: 5vw;
                margin-top: 3vw;
            }
        }
    }
    .quote2-section {
        margin-top: -1%;
        
        .container {
            width: 95%;
            
            h2 {
                text-transform: uppercase;
                margin: 13vw 0;
                color: #fa9c25;
                font-size: 6vw;
            }
        }
    }
    .blurb-on-image {
        display: none;
    }
    .blurb-on-image-small {
        display: block;
        
        .blurb-container .gif-quote-under-image {
            line-height: 6vw;
            font-size: 3vw;
            padding: 1vw 10vw;
            margin-bottom: 7vw;
            color: #666;
        }
    }
    
    .blurb-container {
        width: 90%;
        
        .small-blurb-p {
            margin-top: 12vw;
            padding: 0vw 10vw;
            
            .blurb-under-header {
                font-size: 6vw;
            }
        }
        
        .gif-quote-under-image {
            line-height: 6vw;
            font-size: 4vw;
            padding: 1vw 10vw;
            margin-bottom: 7vw;
            color: #666;
        }
    }
    .ipad-container {
        display: none;
    }
    .small-ipad-container {
        display: block;
        margin-top: 11vw;
        width: 100%;
        -webkit-transform: scale(0.9);
            -ms-transform: scale(0.9);
                transform: scale(0.9);
        
        #small-wrapper {
            -webkit-transform: scale(0.9);
                -ms-transform: scale(0.9);
                    transform: scale(0.9);
            margin: 0 auto;
        }
    }
    .small-ipad-gif-text-container {
        display: block;
        width: 90%;
        
        .ipad-section-content-small {
            margin-bottom: 0;
            margin-top: 7vw;
            padding-bottom: 4vw;
            
            .ul-below-gifs {
                margin-top: 7vw;
                color: #666;
                text-align: center;
                
                .branding {
                    margin-bottom: 5vw;
                }
                
                .branding-li, .live-gallery-li {
                    border-bottom: 1px solid rgba(10,10,10,0.2);
                }
                .li-header-ipad {
                    font-size: 5vw;
                }
                .li-body-ipad {
                    font-size: 3.5vw;
                }
            }
            .live-gallery {
                margin-top: 9vw;
                margin-bottom: 6vw;
            }
            .gifgif-global {
                font-size: 3vw;
            }
            .gifgif-link {
                color: #666;
                
                &:hover {
                    color: #9fd1b8;
                }
            }
            
            .staggered-test-small {
                text-align: center;
                margin-bottom: -6vw;
            
                li:first-child {
                    padding-bottom: 2vw;
                }
                .branding {
                    margin-bottom: 2vw;
                }
                
                .live-gallery {
                    margin-top: 10vw;
                    margin-bottom: 5vw;
                }
                
                .li-header-ipad {
                    font-size: 6vw;
                }
                .li-body-ipad {
                    font-size: 4vw;
                    line-height: 5vw;
                }
                .gifgif-global {
                    font-size: 5.5vw;
                    margin-top: 4vw;
                    margin-bottom: 3vw;
                    
                    a {
                        color: #888;
                        
                        &:hover {
                        color: #9fd1b8;
                        }
                    }
                }
            }
        }
    }
    .gif-strip {
        display: none;
    }
    .small-gif-strip {
        display: block;
        margin-top: 2vw !important;
    }
    .branded-selfies-section {
        
        .gifgifcta {
            margin-top: 0;
            font-size: 4.5vw;
            padding: 13vw 11vw 0vw;
        }
        p {
            color: #fff;
            border: 3px solid #fff;
            display: inline-block;
            padding: 8px 15px;
            margin-top: 6vw;
            margin-bottom: 10vw;
        }
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
    .hero-image-container {
        width: 100%;
        height: 99vh;
        position: relative;
        overflow: hidden;
        background-size: cover;
        
        #gif-foreground-hero {
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
            height: 89vw;
            padding-top: 39vh;
        }
        
        .gif-hero-text {
            position: absolute;
            color: white;
            font-family: 'gotham_boldregular';
            text-transform: uppercase;
            text-align: center;
            left: 12vw;
            font-size: 4vw;
            z-index: 1;
            line-height: 4.5vw;
            top: 10vw;
        }
        
        img#facebook-icon {
            position: absolute;
            right: 1.5vw;
            height: 2.8vw;
            top: 17vw;
        }
        img#twitter-icon {
            position: absolute;
            right: 1.5vw;
            height: 2.8vw;
            top: 21vw;
        }
        img#instagram-icon {
            position: absolute;
            right: 1.5vw;
            height: 2.8vw;
            top: 25vw;
        }
    }
    .quote-section-1 .container {
        width: 95%;
    
        .content1-quote-gif h2 {
            padding: 16vw 0;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 4.5vw;
        }
    }
    .gif-no-sprite {
        display: none;
    }
    .gif-sprites {
        display: block;
    }
    .gif-icon-section {
        padding: 0;
        height: 28vw;
        
        .row {
            height: inherit;
            margin-bottom: 0;
        
            .icon-block-1, .icon-block-2 {
                border-bottom: none;
            }
            
            p.light {
                margin: 0;
            }
            
            .icon-block-1, .icon-block-2, .icon-block-3 {
                
                height: inherit;
            
            }
            
            
            .icon-block-1 {
                margin-top: 0;
                margin-bottom: 0;
                border-right: 0.2vw solid rgba(200,200,200,0.4);
        
                .icon-block {
                    padding-top: 5vw;
                    padding-bottom: 3vw;
                    margin: -3vw;
                    height: auto;
                }
                h2 {
                   margin-top: 3vw; 
                }
                img {
                    height: 8vw;
                }
                h5 {
                    font-size: 2.2vw;
                    margin-top: 2vw;
                }
            }
        
            .icon-block-2 {
                margin-top: 0;
                border-right: 0.2vw solid rgba(200,200,200,0.4);
            
                .icon-block {
                    padding-top: 5vw;
                    padding-bottom: 3vw;
                    margin: -3vw;
                    height: auto;
                }
                h2 {
                    margin-top: 2.9vw;
                }
                img {
                    height: 8vw;
                }
                h5 {
                    margin-top: 2.5vw;
                    font-size: 2.2vw;
                }
            }
        
            .icon-block-3 {
                margin-top: 0;
                
                .icon-block {
                    margin: -3vw;
                    height: auto;
                    padding-top: 5vw;
                    padding-bottom: 5vw;
                    
                    h2 {
                        margin-top: 3.3vw;
                    }
                    img {
                        height: 7vw;
                    }
                    h5 {
                        margin-top: 2.8vw;
                        font-size: 2.2vw;
                    }
                }
    
            }    
        }
    }
    .quote2-section {
        margin-top: -1%;
        
        .container {
            width: 95%;
            
            h2 {
                text-transform: uppercase;
                margin: 14vw 0;
                color: #fa9c25;
                font-size: 4vw;
            }
        }
    }
    .blurb-on-image-small {
        display: none;
    }
    .blurb-container {
        display: none;
    }
    .blurb-on-image {
        display: block;
        height: 51vw;
        position: relative;
        
        img {
            width: 100%;
            height: auto;
        }
        p {
            font-family: 'gotham_bookregular';
            color: white;
            position: absolute;
            left: 8vw;
            bottom: 0vw;
            font-size: 2.5vw;
            width: 60vw;
        }
        .gif-image-text-header {
            text-transform: uppercase;
        }
        .blurb-gif-logo {
            position: absolute;
            width: 11vw;
            height: auto;
            right: 5vw;
            bottom: 3vw;
        }
    }
    .small-ipad-container {
        display: none;
    }
    .small-ipad-gif-text-container {
        display: none;
    }
    .ipad-container {
        display: block;
        height: 75vw;
        position: relative;
        width: 90%;
        
        .row {
            margin-top: 3vw;
            
            #wrapper {
                width: 47vw;
                margin: 11vw 1vw 7vw 5vw;
                
                .ipad-front {
                    position: relative;
                    width: 38vw;
                    height: 53vw;
                    background-color: #000;
                    border-radius: 10px;
                    border: 2px solid #888;
                    padding: 40px;
                    box-shadow: 1px 2px 0px #111;
                    
                    .ipad-front-camera {
                        width: 0.8vw;
                        height: 0.8vw;
                        background-color: #222;
                        border-radius: 50px;
                        position: absolute;
                        top: 2vw;
                        left: 19vw;
                        
                        span {
                            display: block;
                            width: 0.4vw;
                            height: 0.4vw;
                            background-color: #111;
                            border-radius: 50px;
                            position: absolute;
                            top: 0.2vw;
                            left: 0.2vw;
                        }
                    }
                    .ipad-front-display {
                        width: 100%;
                        height: 100%;
                        margin-top: 11px;
                        
                        img {
                            height: 42vw;
                            width: 30vw;
                            position: absolute;
                            top: 5vw;
                            left: 4vw;
                            margin-left: 0;
                            margin-top: 0;                            
                        }
                    }
                    .ipad-front-home-button {
                        width: 2.2vw;
                        height: 2.2vw;
                        background-color: #000;
                        border: 1px solid #111;
                        border-radius: 5vw;
                        position: absolute;
                        bottom: 1.8vw;
                        left: 18.1vw;
                        box-shadow: 1px 1px 2px #666;
                        
                        span {
                            width: 1vw;
                            height: 1vw;
                            position: absolute;
                            top: 0.6vw;
                            left: 0.6vw;
                            background-color: #000;
                            border: 1px solid #444;
                            border-radius: 0.2vw;
                        }
                    }
                }
            }
            .ipad-text-large {
                margin-top: 26vw;
                font-size: 2vw;
                font-family: 'gotham_bookregular';
                
                .gifgifglobal-link a {
                    color: #333;
                }
                
                .branding, .live-gallery, .gifgifglobal-link {
                    &:hover {
                        color: #9FD1B8;
                    }
                }
            }
        }
    }
    .small-gif-strip {
        display: none;
    }
    .gif-strip {
        display: block;
        width: 102vw;
        margin-top: 4vw;
        margin-bottom: -1vw;
        margin-left: 0.6vw;
        -webkit-transform: scaleX(1.05);
            -ms-transform: scaleX(1.05);
                transform: scaleX(1.05);
        
        img {
            padding: 0;
            margin: -0.2vw;
            width: 20vw;
        }
    }
    .orange-quote-section {
        padding: 8vw 0;
        
        h2 {
            font-size: 5vw;
        }
        a {
            font-size: 3vw;
        }
        .book-now-button {
            color: #fff;
            border: 0.7vw solid #fff;
            display: inline-block;
            padding: 1vw 2vw;
            margin-bottom: 0;
            margin-top: 4vw;
            -webkit-transform: scale(0.7);
                -ms-transform: scale(0.7);
                    transform: scale(0.7);
            
        }
    }
    .branded-selfies-section {
        padding: 7vw 1vw;
        
        h2 {
            font-size: 5vw;
        }
        a {
            font-size: 3vw;
        }
        a p {
            color: #fff;
            border: 0.7vw solid #fff;
            display: inline-block;
            padding: 1vw 2vw;
            margin-bottom: 0;
            margin-top: 4vw;
            -webkit-transform: scale(0.7);
                -ms-transform: scale(0.7);
                    transform: scale(0.7);
        }
    }
}

@media screen and (min-width: 1280px) and (orientation: landscape) {
    
    .hero-image-container {
    
        #gif-foreground-hero {
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
            height: 75vw;
            padding-top: 45vh;
        }
    }
}


@media screen and (min-width: 1200px) and (min-height: 600px) and (max-height: 700px) and (orientation: landscape) {
    #gif-foreground-hero {
        height: 61vw !important;
        padding-top: 52vh !important;
    }
}

@media screen and (min-width: 1400px) and (min-height: 600px) and (max-height: 700px) and (orientation: landscape) {
    #gif-foreground-hero {
        height: 51vw !important;
        padding-top: 60vh !important;
    }
}

@media screen and (min-width: 1200px) and (min-height: 701px) and (max-height: 800px) and (orientation: landscape) {
    #gif-foreground-hero {
        height: 68vw !important;
        padding-top: 52vh !important;
    }
}


                                    
                                                                                        /* ------------------- /MEDIA QUERIES ------------------*/





