@font-face {
    font-family: 'gotham_bookregular';
    src: url('copyfonts.com_gotham-book-webfont.eot');
    src: url('copyfonts.com_gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('copyfonts.com_gotham-book-webfont.woff2') format('woff2'),
         url('copyfonts.com_gotham-book-webfont.woff') format('woff'),
         url('copyfonts.com_gotham-book-webfont.ttf') format('truetype'),
         url('copyfonts.com_gotham-book-webfont.svg#gotham_bookregular') format('svg');
    
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_boldregular';
    src: url('copyfonts.com_gotham-bold-webfont.eot');
    src: url('copyfonts.com_gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('copyfonts.com_gotham-bold-webfont.woff2') format('woff2'),
         url('copyfonts.com_gotham-bold-webfont.woff') format('woff'),
         url('copyfonts.com_gotham-bold-webfont.ttf') format('truetype'),
         url('copyfonts.com_gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    
    font-weight: normal;
    font-style: normal;

}

html {
    height: 4100px;
}

body {
    font-family: 'gotham_boldregular';
    height: 100%;
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    
    // .hero-image-container {
    //     height: 18.76941%;
        
    //     #gif-foreground-hero {
    //         transform: scale(1.2);
    //         padding-top: 8%;
    //         padding-right: 4%;
    //     }
    // // }
}

.container {
    max-width: 100%;
}


// --------------------------------------
// navbar styles for gif and selfies page
// --------------------------------------

.navcontainer {
    width: 100%;
    height: 112px;
    background-color: rgba(10,10,10,0.5);
    
    .nav-elements {
        position: relative;
        width: 100%;
        
        img, .nav-list {
            position: absolute;
        }
        
        img {
            transform: scale(0.8);
            top: -5px;
            left: 7%;
        }
        
        .nav-list {
            left: 32%;
            font-size: 1.1em;
            margin-top: 15px;
            text-transform: uppercase;
            z-index: 2;
            
            
            ul {
                padding: 0;
                list-style: none;
                
                li {
                    display: inline-block;
                    margin-left: 29px;
                    padding: 3px 15px;
                    border: 4px solid rgba(255,255,255,0);
                    
                    &:hover {
                        border: 4px solid rgba(255,255,255,1);
                        font-weight: 400;
                    }
                    
                    a {
                        color: #fff;
                        font-family: 'gotham_boldregular';
                    }
                }
            }
        }
    }
}

// --------------------------------------
// styles for gif hero/nav section
// --------------------------------------


.hero-image-container {
    position: relative;
    overflow: hidden;
    background: image-url("Gif-Background-Final-compressor.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // height: 18.76941%;
    width: 100%;


    #gif-foreground-hero {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        // transform: scale(0.5);
        padding-top: 36px;
    }
}

            // ----------------------------------------
            //           Icon Section
            // ----------------------------------------



.gif-icon-section {
    position: relative;
    z-index: -2;
    padding: 80px 0;
    background: #fff;
}

.content1-quote-gif {
    text-transform: uppercase;
    color: #888888;
    // padding: 50px;
    background: #fff;
    
    h2 {
        // padding: 50px 0;
        // margin-top: 0;
        font-family: 'gotham_boldregular' !important;
    }
}
.icon-block h5 {
    color: #888888;
    font-family: 'gotham_bookregular';
}


// -----------------------------------
// -----Seflie icon section for shadow
// -----------------------------------


.selfie-round-shadow {
    z-index: 1;
    border-top: 2px solid rgba(211,211,211,0.8);
    
    .white-fill-for-selfie {
        background: #fff;
    
        .selfie-icon-container {
            width: 85%;
        
            .selfie-icon-section {
                z-index: 1;
                font-family: 'gotham_bookregular';
            }
        }
    }
}

           // ----------------------------------------
            //           Video Section
            // ----------------------------------------


.gifvideo {
    width: 100%;
}

            // ----------------------------------------
            //           Blurb on image Section
            // ----------------------------------------

.blurb-on-image-small {
    position: relative;
    
    img {
        width: 100%;
    }
    .blurb-gif-logo {
        position: absolute;
        width: 12%;
        height: auto;
        right: 5%;
        bottom: 7%;
    }
}

.blurb-on-image {
    position: relative;
    
    img {
        width: 100%;   
    }
    p {
        font-family: 'gotham_bookregular';
        color: white;
        position: absolute;
        left: 10%;
        bottom: 5%;
        width: 60%;
    }
    .blurb-gif-logo {
        position: absolute;
        width: 12%;
        height: auto;
        right: 5%;
        bottom: 7%;
    }
}

.blurb-below-image {

    p {
        text-align: center;
    }
    .blurb-under-header {
        text-transform: uppercase;
        color: #9fd1b8;
    }
    
    strong {
        font-size: 1.6em;
        text-transform: uppercase;
    }
    // .gif-quote-under-image {
    //     line-height: 2;
    // }
}

.blurb-below-image-row {
    margin-bottom: 0;
    padding-bottom: 20px;
}

            // ----------------------------------------
            //          ipad with gifs section
            // ----------------------------------------



.ipad-container {
    position: relative;
}

.staggered-test {
    position: absolute;
    left: 60%;
    top: 27%;
    
    li p {
        color: #888888;
        font-family: 'gotham_bookregular';
        
    }
}




#wrapper {
  width: 450px;
  margin: 115px auto;
}

/* iPad */
.ipad-front {
  position: relative;
  width: 450px;
  height: 600px;
  background-color: #000;  
  border-radius: 10px;
  border: 2px solid #888;
  padding: 40px;
  box-shadow: 1px 2px 0px #111;
}

.ipad-front-camera {
  width: 8px;
  height: 8px;
  background-color: #222;
  border-radius: 50px;
  position: absolute;
  top: 21px;
  left: 219px;
}

.ipad-front-camera span {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #111;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.ipad-front-display {
  width: 100%;
  height: 100%;
  margin-top: 11px;
}

.ipad-front-home-button {
  width: 22px;
  height: 22px;
  background-color: #000;
  border:1px solid #111;
  border-radius: 50px;
  position: absolute;
  bottom: 17px;
  left: 211px;
  box-shadow: 1px 1px 2px #666;
}

.ipad-front-home-button span {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #000;
  border:1px solid #444;
  border-radius: 2px;
}
/* /iPad */

            // ----------------------------------------
            //           Gif Row section
            // ----------------------------------------

.gif-strip {
    margin-top: 64px;
    margin-bottom: -5px;

    img {
        padding: 0;
        margin: -2px;
        width: 20%;
    }
}

            // ----------------------------------------
            //           Orange Quote Section
            // ----------------------------------------

.orange-quote-section {
    text-transform: uppercase;
    background: #f7a73f;
    color: white;
    padding: 58px 0;
    
    h2 {
        font-size: 1.8em;
        line-height: 1.1;
    }
    
    p {
        color: #fff;
        border: 3px solid #fff;
        display: inline-block;
        padding: 8px 15px;
        margin-top: 29px;
        margin-bottom: 0;
    }

}

            // ----------------------------------------
            //      Check out branded selfies section
            // ----------------------------------------


//--------------------------------------------------------------------------------------------------------------------------------

                                                //    MEDIA QUERIES

//--------------------------------------------------------------------------------------------------------------------------------

@media screen and (min-width: 0px) and (orientation: landscape) {
    .hero-image-container #gif-foreground-hero {
        padding-right: 2%;
        height: 79vh;
    }
}
@media screen and (min-width: 0px) and (orientation: portrait) {
    .hero-image-container #gif-foreground-hero {
        padding-right: 2%;
        height: 101vw;
    }
}




@media screen and (min-width: 250px) {
    
    .hero-image-container {
        width: 100%;
        height: 99vh;
        
        // #gif-foreground-hero {
        //     padding-right: 2%;
        //     height: 79vh;
        // }
    }
    
    .quote-section-1 .container {
        width: 95%;
    
        .content1-quote-gif h2 {

            padding: 24% 0;
            margin-top: 0;
            margin-bottom: 0;
            font-size: 7.5vw;
        }
    }
    
    .gif-icon-section {
        padding: 4% 0 9% 0;
        
        .icon-block-1, .icon-block-2 {
            border-bottom: 1px solid rgba(200,200,200,0.8);
        }
        
        .icon-block-1, .icon-block-2, .icon-block-3 {
            
            h5 {
                font-size: 7vw;
                margin-top: 8%;         
            }
            img {
                transform: scale(1);
            }
        }
        
        .icon-block-1 {
            margin-top: 4%;
            margin-bottom: 0;
    
            .icon-block {
                padding-bottom: 10%;
            }
        }
    
        .icon-block-2 {
            margin-top: 9%;
        
            .icon-block {
                padding-bottom: 9%;
            }
        }
    
        .icon-block-3 {
            margin-top: 9%;
        }
    }
    
    .quote2-section {
        margin-top: -1%;
        
        .container {
            width: 95%;
            
            h2 {
                text-transform: uppercase;
                margin: 15% 0;
                color: #fa9c25;
                font-size: 7vw;
            }
        }
    }
    
    .blurb-on-image {
        display: none;
    }
    .blurb-on-image-small {
        display: block;
    }
    .blurb-container {
        width: 90%;
        
        .small-blurb-p {
            margin-top: 16%;
            
            .blurb-under-header {
                font-size: 6vw;
            }
        }
        
        .gif-quote-under-image {
            line-height: 2;
            font-size: 5vw;
            padding: 2% 4%;
            margin-bottom: 17%;
        }
    }
    
    .ipad-container {
        display: none;
    }
    .small-ipad-container {
        display: block;
        margin-top: 20%;
        width: 100%;
        
        #small-wrapper {
            transform: scale(0.9);
            margin: 0 auto;
        }
    }
    
    .ipad-container {
        display: none;
    }
    
    .small-ipad-gif-text-container {
        display: block;
        width: 90%;
        
        .ipad-section-content-small {
            margin-bottom: 5%;
            margin-top: 12%;
            
            .staggered-test-small {
                text-align: center;
                margin-bottom: -6%;
            
                li:first-child {
                    padding-bottom: 3%;
                }
                .branding {
                    margin-bottom: 7%;
                }
                
                .live-gallery {
                    margin-top: 13%;
                    margin-bottom: 7%;
                }
                
                .li-header-ipad {
                    font-size: 6vw;
                }
                .li-body-ipad {
                    font-size: 5.5vw;
                }
                .gifgif-global {
                    font-size: 5.5vw;
                    margin-top: 3%;
                    margin-bottom: 0%;
                    
                    a {
                        color: #888;
                        
                        &:hover {
                        color: #9fd1b8;
                        }
                    }
                }
            }
        }
    }
    .gif-strip {
        display: none;
    }
    .small-gif-strip {
        display: block;
        transform: scaleX(1.01);
    }
    
    .orange-quote-section {
        padding: 10% 0;
        
        h2 {
            font-size: 6.5vw;
        }
        .book-now-button {
            margin-top: 5%;
            transform: scale(0.9);
            
        }
    }
    
    .branded-selfies-section {
        padding: 9% 2% 10% 2%;
        
        h2 {
            font-size: 6.4vw;
        }
        a p {
            margin-top: 6%;
            transform: scale(0.9);
        }
    }
    footer {
        padding: 0;
        margin: 0;
        
        p {
            margin: 0;
            font-size: 9px;
            padding: 24px;
        }
    }
}
// @media screen and (min-width: 360px) {
//     .hero-image-container {
//         height: 15.5%;
//     }
// }


// @media screen and (min-width: 375px) {
//     .hero-image-container {
//         height: 15.3%;
//     }
// }
// @media screen and (min-width: 414px) {
//     .hero-image-container {
//         height: 17.9%;
//     }
// }

@media screen and (min-width: 768px) {
    .hero-image-container {
        // height: 24.9%;
        
        #gif-foreground-hero {
            padding-right: 3%;
        }
    }
    .quote-section-1 .container {
    
        .content1-quote-gif h2 {
            padding: 19% 0;
            font-size: 7.1vw;
        }
    }
    .gif-icon-section {
        padding: 4% 0 4% 0;
        
        .icon-block-1, .icon-block-2, .icon-block-3 {
            
            h5 {
                font-size: 6vw;
                margin-top: 9%;         
            }
            img {
                transform: scale(1.5);
            }
        }
        .icon-block-1 {
            .icon-block {
                padding-bottom: 6%;
            }
        }
        .icon-block-2 {
            margin-top: 8%;
        
            .icon-block {
                padding-bottom: 6%;
            }
        }
        .icon-block-3 {
            margin-top: 8%;
        }
    }
    .quote2-section .container h2 {
        margin: 13% 0;
    }
    .blurb-container {
    
        .small-blurb-p {
            margin-top: 15%;
        }
        .gif-quote-under-image {
            font-size: 5vw;
            line-height: 1.5;
            padding: 2% 4%;
            margin-bottom: 7%;
        }
    }
    .small-ipad-container {
        margin-top: 27%;
        
        #small-wrapper {
            transform: scale(1.4);
        }
    }
    .small-ipad-gif-text-container .ipad-section-content-small {
        margin-top: 20%;
        
        .staggered-test-small {
        
            .branding {
                margin-bottom: 3%;
            
                .li-header-ipad {
                    font-size: 5vw;
                }
                .li-body-ipad {
                    font-size: 4.5vw;
                }
            }
            .live-gallery {
                margin-top: 8%;
                margin-bottom: 6%;
                
                .li-header-ipad {
                    font-size: 5vw;
                }
                .li-body-ipad {
                    font-size: 4.5vw;
                }
            }
            .gifgif-global {
                font-size: 5vw;
                margin-top: 4%;
                margin-bottom: 14%;
            }
        }
    }
    .orange-quote-section {
        
        padding: 8% 0 10% 0;
    
        .book-now-button {
            transform: scale(1.5);
        }
    }
    .branded-selfies-section {
        padding: 8% 2%;
        
        h2 {
            font-size: 6vw;
        }
        
        a p {
            transform: scale(1.5);
        }
    }
    footer {
        margin: -1px;
    }
}
@media screen and (min-width: 1280px) {
    .hero-image-container {
        // height: 19.4%;
        
        #gif-foreground-hero {
            // transform: scale(0.6);
        }
    }
    .quote-section-1 .container .content1-quote-gif h2 {
        padding: 11% 0;
        font-size: 3.5vw;
    }
    .gif-icon-section {
        padding: 0;
        width: 100%;
        
        .row {
            margin-bottom: 0;
            
            .icon-block-1, .icon-block-2 {
                border-bottom: none;
                border-right: 1px solid rgba(200,200,200,0.4);
            }
            .icon-block-1, .icon-block-2, .icon-block-3 {
                
                h5 {
                    font-size: 2vw;    
                }
            }
            
            img {
                transform: scale(1.3);
            }
            .icon-block-1 {
                margin-top: 0%;
                padding-top: 10%;
                padding-bottom: 8%;
                
                .icon-block {
                    padding-bottom: 0%;
                }
                
                h5 {
                    margin-top: 11%;
                }
            }
            .icon-block-2 {
                margin-top: 0%;
                padding-top: 10.5%;
                padding-bottom: 6.2%;
                
                h5 {
                    margin-top: 12%;
                }
            }
            .icon-block-3 {
                margin-top: 0%;
                padding-top: 11.5%;
                padding-bottom: 7.9%;
                
                h5 {
                    margin-top: 12%;
                }
            }
        }
    }
    .quote2-section .container h2 {
        margin: 11% 0;
        font-size: 3.5vw;
    }
    .blurb-on-image-small, .blurb-container {
        display: none;
    }
    .blurb-on-image { 
        display: block;
        
        p {
            font-size: 2vw;
        }
    }
    .small-ipad-container {
        display: none;
    }
    .small-ipad-gif-text-container {
        display: none;
    }
    .ipad-container {
        display: block;
        width: 85%;
        margin: 0 7.5%;
        margin-top: 10%;
        margin-bottom: 9%;
        
        #wrapper {
            margin: 0;
        }
        .row .ipad-text-large {
            width: 59%;
        }
        .ipad-text-large {
            font-size: 3.3vh;
            margin-top: 12%;
            margin-bottom: 0%;
            padding-left: 9%;
            color: #888;
            
            .branding, .live-gallery {
                color: #000;
                transition: color .3s ease;
                &:hover {
                    color: #9fd1b8;
                }
            }
            a {
                color: #000;
                transition: color .3s ease;
                &:hover {
                    color: #9fd1b8;
                }
            }
        }
    }
    .small-gif-strip {
        display: none;
    }
    .gif-strip {
        display: block;
        width: 100%;
        
        img {
            margin-right: -3px;
            overflow-x: hidden;
            margin-left: -2px;
            transform: scaleX(1.03);
        }
    }
    .orange-quote-section {
        padding: 6% 0 8% 0;
        
        h2 {
            font-size: 3.5vw;
        }
        
        a p {
            transition: color .3s ease;
            transition: color .3s ease;
            &:hover {
                color: #f7a73f;
                background: #fff;
            }
        }
        
    }
    .branded-selfies-section {
        padding: 6% 2% 7%;
        
        h2 {
            font-size: 3.5vw;
        }
        
        a p {
            transition: color .3s ease;
            transition: background .3s ease;
    
            &:hover {
                color: #000;
                background: #fff;
            }
        }
    }
    footer {
        padding: 2%;
        
        p {
            font-size: 1vw;
        }
    }
}

// @media screen and (min-width: 1400px) {
//     .hero-image-container {
//         height: 21.2%;
//     }
// }


@media screen and (min-width: 1440px) {
    .ipad-container .ipad-text-large {
        margin-top: 6%;
    }
}

@media screen and (min-width: 1580px) {
    .ipad-container {
        width: 70%;
        margin: 0 15%;
        margin-top: 10%;
        margin-bottom: 9%;
        
        .ipad-text-large {
            padding-left: 14%;
        }
    }
}

@media screen and (min-height: 768px) and (orientation: landscape) {
    .ipad-container .ipad-text-large {
        margin-top: 16%;
    }
}


@media screen and (min-height: 1080px) and (orientation: landscape) {
    .ipad-container {
        position: relative;
        width: 100%;
        margin: 0 0;
        margin-top: 10%;
        margin-bottom: 9%;
        height: 77vh;
        
        #wrapper {
            position: absolute;
            top: 10%;
            left: 14%;
            transform: scale(1.3);
        }
        .ipad-text-large {
            position: absolute;
            width: 59%;
            left: 33%;
            top: -14%;
        }
    }
    .gif-icon-section {
        
        .icon-block img {
        transform: scale(1.8);
        }
        
        .row {
            
            .icon-block-1 h5 {
                margin-top: 16%;
            }
            .icon-block-2 h5 {
                margin-top: 17%;
            }
            .icon-block-3 h5 {
                margin-top: 15%;
            }
        }
    }
}



// @media screen and (min-width: 1600px) {
//     .hero-image-container {
//         height: 24.3%;
//     }
// }
// @media screen and (min-height: 900px) {
//     .hero-image-container {
//         height: 21.7%;
//     }
// }





// @media screen and (max-width: 420px) {
//     .round-shadow .container {
        
//         .content1-quote {
//             padding: 50px 0;
        
//             .gif-text {
//                 font-size: 2em;
//             }
//         }
//     }
    
//     .gif-icon-section {
//         padding: 36px 0;
        
//         .icon-block-1, .icon-block-2 {
//             border-bottom: 2px solid rgba(200,200,200,0.8);
//         }
        
//         .col.s12.m12.l4.icon-block-1, .col.s12.m12.l4.icon-block-2 {
//             padding-bottom: 40px;
//         }
        
//         .col.s12.m12.l4.icon-block-2 {
//             padding-top: 32px;
//         }
        
//         .col.s12.m12.l4.icon-block-3 {
//             padding-top: 39px;
//         }
//     }
    
//     .quote-section .gif-new-concept-quote {
//         font-size: 1.5em;
//         padding: 55px 0;
//     }
    
//     .blurb-below-image .small-blurb-p  {
//         margin-top: 65px;
//         line-height: initial;
//         color: #888888;

        
//         .blurb-under-header {
//             line-height: 1.6;
//         }
//         .gif-quote-under-image {
//             line-height: 1.8;
//         }
//     }


// // ipad section media queries -----------------v
    
    
//     .ipad-container {
//         display: none;
//     }
    
//     .small-ipad-container {
//         display: block;
//     }
    
    
    
//     .gif-strip {
//         display: none;
//     }
    
//     .small-gif-strip {
//         display: block;
//     }
// }










            // ----------------------------------------
            //          ipad with gifs section
            // ----------------------------------------





.staggered-test {
    position: absolute;
    left: 60%;
    top: 27%;
    
    li p {
        color: #888888;
        font-family: 'gotham_bookregular';
        
    }
}



.small-ipad-container {
    position: relative;
    
    #small-wrapper {
        width: 331px;
        // margin: 115px auto;
        // margin-bottom: 70px;
    }
    
    .small-ipad-front {
        // position: relative;
        // width: 450px;
        // height: 600px;
        background-color: #000;  
        border-radius: 10px;
        border: 2px solid #888;
        padding: 40px;
        box-shadow: 1px 2px 0px #111;
        height: 373.33px;
        left: 9em;
        position: relative;
        top: 50%;
        width: 280px;
        margin: -100px 0 0 -100px;
        
   }

    .small-ipad-front-camera {
        width: 8px;
        height: 8px;
        background-color: #222;
        border-radius: 50px;
        position: absolute;
        top: 16px;
        left: 134px;
    }

    .small-ipad-front-camera span {
        display: block;
        width: 4px;
        height: 4px;
        background-color: #111;
        border-radius: 50px;
        position: absolute;
        top: 2px;
        left: 2px;
    }

    .small-ipad-front-display {
        width: 108%;
        height: 100%;
        margin-top: 2px;
        margin-left: -8px;
    }

    .small-ipad-front-home-button {
        width: 18px;
        height: 18px;
        background-color: #000;
        border:1px solid #111;
        border-radius: 50px;
        position: absolute;
        bottom: 12px;
        left: 129px;
        box-shadow: 1px 1px 2px #666;
    }

    .small-ipad-front-home-button span {
        width: 9px;
        height: 9px;
        position: absolute;
        top: 4px;
        left: 4px;
        background-color: #000;
        border:1px solid #444;
        border-radius: 2px;
    }
}


.container.small-ipad-gif-text-container {
    width: 100%;
    
    .container {
        width: 100%;
        
        .ipad-section-content-small {
            margin-bottom: -14px;
            
            .staggered-test-small li {
                border-bottom: 2px solid rgba(200,200,200,0.8);
            }
    
            .staggered-test-small li:nth-child(1) p {
                // margin-bottom: 33px;
            }
    
            // .staggered-test-small li:nth-child(2) p {
            //     margin-top: 50px;
            //     margin-bottom: 32px;
            // }
    
            .staggered-test-small li:nth-child(3) {
                border-bottom: none;
            }

            .staggered-test-small p {
                color: #888;
            }
            .staggered-test-small .gifgif-global a {
                color: #888;
                
                &:hover {
                    color: #9fd1b8;
                }
            }
        }
    }
}



.small-gif-strip {
    margin-top: 62px;
    margin-bottom: -6px;
    width: 102%;
    
    img {
        width: 33.5%;
        margin: -1%;
    }
    
    img:first-child {
        margin-left: 1px;
    }
}



.section-orange-bg h2 {
    font-size: 2em;
}




.branded-selfies-section {
    
    text-transform: uppercase;
    color: #fff;
    background: url('/assets/Branded Selfie CTA Graphic.png') no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // padding: 42px 2px;
    
    // h2 {
    //     font-size: 1.8em;
    //     line-height: 1.1;
    // }
    
    p {
        color: #fff;
        border: 3px solid #fff;
        display: inline-block;
        padding: 8px 15px;
        margin-top: 29px;
    }
}

