.slider.home-slider {
    height: 99vh !important;
    
    .slides.home-slides {
        height: inherit !important;
    }
    .home-slider .indicators {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 1vw;
        margin: 0;
    }
    .caption {
        top: 11vw !important;
    }
}
ul.indicators {
    z-index: 3;
    bottom: 1vw;
}
.slider .indicators .indicator-item {
    display: inline-block;
    position: relative;
    cursor: pointer;
    height: 0.7vw;
    width: 4vw;
    margin: 0 1vw;
    background-color: #e0e0e0;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
    border-radius: 0%;
}

.homepage-hero-section {
    
    height: 99vh;
    width: 100vw;
    
    .navbar-desktop {
        z-index: 999;
        background-color: rgba(10,10,10,0.4);
        
        img {
            top: 2.5vw;
            left: 3vw;
            height: 5.5vw;
        }
    }
    .slider {
        top: -10.7vw;
        width: 100vw;
        z-index: -1;
        touch-action: pan-y;
        -webkit-user-drag: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
}
.homepage-quote1-section {
    background: white;
    
    p {

        
        text-align: center;
        text-transform: uppercase;
        font-size: 3vw;
        width: 70vw;
        padding: 11vw 0vw;
        margin: 0vw 15vw;
        color: #fa9c25;
        font-family: 'gotham_boldregular';
        line-height: 3.5vw;
    }
}

.product-row-1 {
    width: 100vw;
    position: relative;
    height: 42vw;
    
    .product-row-1-col-1-section {
        width: 50vw;
        display: inline-block;
        margin: 0;
        position: absolute;
        height: inherit;
        
        .instagram-printer-rel-section {
            position: relative;
            height: inherit;
        
            img {
                width: 100%;
                height: 42vw;
            }
            .product1 {
                position: absolute;
                top: 0vw;
                left: 0vw;
                width: 50vw;
                height: inherit;
                background: rgba(10,10,10,0.7);
                transition: background 0.4s ease;
                
                &:hover {
                    background: rgba(10,10,10,0);
                    
                }
                
                p {
                    font-size: 4vw;
                    color: white;
                    line-height: 5vw;
                    margin-top: 12vw;
                    text-transform: uppercase;
                    text-align: center;
                }
                .instagram-printer-link {
                    font-size: 2vw;
                    position: absolute;
                    left: 22vw;
                    text-transform: uppercase;
                    color: white;
                    border: 0.3vw solid;
                }
            }
        }
    }
    .product-row-1-col-2-section {
        display: inline-block;
        width: 50vw;
        margin: 0;
        position: absolute;
        left: 50vw;
        height: inherit;
        
        .live-feed-rel-section {
            position: relative;
            height: inherit;
        
            img {
                width: 50vw;
                height: 42vw;
            }
            .product2 {
                position: absolute;
                top: 0vw;
                left: 0vw;
                width: 50vw;
                height: inherit;
                background: rgba(10,10,10,0.7);
                transition: background 0.4s ease;
                
                &:hover {
                    background: rgba(10,10,10,0);
                    
                }
                
                p {
                    font-size: 4vw;
                    color: white;
                    line-height: 5vw;
                    margin-top: 12vw;
                    text-transform: uppercase;
                    text-align: center;
                }
                a {
                    font-size: 2vw;
                    position: absolute;
                    left: 22vw;
                    text-transform: uppercase;
                    color: white;
                    border: 0.3vw solid;
                }
            }
        }
    }
}

.product-row-2 {
    width: 100vw;
    position: relative;
    height: 42vw;
    
    .product-row-2-col-1-section {
        width: 50vw;
        display: inline-block;
        margin: 0;
        position: absolute;
        height: inherit;
        
        .gifgif-rel-section {
            position: relative;
            height: inherit;
        
            img {
                width: 100%;
                height: 42vw;
            }
            .product3 {
                position: absolute;
                top: 0vw;
                left: 0vw;
                width: 50vw;
                height: inherit;
                background: rgba(10,10,10,0.7);
                transition: background 0.4s ease;
                
                &:hover {
                    background: rgba(10,10,10,0);
                    
                }
                
                p {
                    font-size: 4vw;
                    color: white;
                    line-height: 5vw;
                    margin-top: 12vw;
                    text-transform: uppercase;
                    text-align: center;
                }
                .gifgif-link {
                    font-size: 2vw;
                    position: absolute;
                    left: 22vw;
                    text-transform: uppercase;
                    color: white;
                    border: 0.3vw solid;
                }
            }
        }
    }
    .product-row-2-col-2-section {
        display: inline-block;
        width: 50vw;
        margin: 0;
        position: absolute;
        left: 50vw;
        height: inherit;
        
        .branded-selfie-rel-section {
            position: relative;
            height: inherit;
        
            img {
                width: 50vw;
                height: 42vw;
            }
            .product4 {
                position: absolute;
                top: 0vw;
                left: 0vw;
                width: 50vw;
                height: inherit;
                background: rgba(10,10,10,0.7);
                transition: background 0.4s ease;
                
                &:hover {
                    background: rgba(10,10,10,0);
                    
                }
                
                p {
                    font-size: 4vw;
                    color: white;
                    line-height: 5vw;
                    margin-top: 12vw;
                    text-transform: uppercase;
                    text-align: center;
                }
                .branded-selfie-link {
                    font-size: 2vw;
                    position: absolute;
                    left: 22vw;
                    text-transform: uppercase;
                    color: white;
                    border: 0.3vw solid;
                }
            }
        }
    }
}

.homepage-quote2-section {
    background: #8fdae6;
    
    p {
        font-size: 3vw;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 12vw 0;
        line-height: 3.5vw;
        color: white;
        width: 70vw;
        margin-left: 15vw;
    }
}


.past-clients-row-1 {
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    height: 16vw;
    border-bottom: 0.1vw solid rgba(10, 10, 10, 0.1);
    
    .clients-row-1-col-1-section, .clients-row-1-col-2-section, .clients-row-1-col-3-section, .clients-row-1-col-4-section {
        width: 25vw;
        display: inline-block;
        border-right: 0.1vw solid rgba(10, 10, 10, 0.1);
        height: inherit;
        
        .client1-rel-section, .client2-rel-section, .client3-rel-section, .client4-rel-section {
            height: 16vw;
            
            img {
                width: 25vw;
                height: inherit;
            }
        }
    }
    .clients-row-1-col-4-section {
        border-right: none;
    }
}

.past-clients-row-2 {
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    height: 16vw;
    border-bottom: 0.1vw solid rgba(10, 10, 10, 0.1);
    
    .clients-row-2-col-1-section, .clients-row-2-col-2-section, .clients-row-2-col-3-section, .clients-row-2-col-4-section {
        width: 25vw;
        display: inline-block;
        border-right: 0.1vw solid rgba(10, 10, 10, 0.1);
        height: inherit;
        
        .client5-rel-section, .client6-rel-section, .client7-rel-section, .client8-rel-section {
            height: 16vw;
            
            img {
                width: 25vw;
                height: inherit;
            }
        }
    }
    .clients-row-2-col-4-section {
        border-right: none;
    }
}

.past-clients-row-3 {
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    height: 16vw;
    border-bottom: 0.1vw solid rgba(10, 10, 10, 0.1);
    
    .clients-row-3-col-1-section, .clients-row-3-col-2-section, .clients-row-3-col-3-section, .clients-row-3-col-4-section {
        width: 25vw;
        display: inline-block;
        border-right: 0.1vw solid rgba(10, 10, 10, 0.1);
        height: inherit;
        
        .client9-rel-section, .client10-rel-section, .client11-rel-section, .client12-rel-section {
            height: 16vw;
            
            img {
                width: 25vw;
                height: inherit;
            }
        }
    }
    .clients-row-3-col-4-section {
        border-right: none;
    }
}

.past-clients-row-4 {
    width: 100vw;
    position: relative;
    overflow: hidden;
    display: flex;
    height: 16vw;
    
    .clients-row-4-col-1-section, .clients-row-4-col-2-section, .clients-row-4-col-3-section, .clients-row-4-col-4-section {
        width: 25vw;
        display: inline-block;
        border-right: 0.1vw solid rgba(10, 10, 10, 0.1);
        height: inherit;
        
        .client13-rel-section, .client14-rel-section, .client15-rel-section, .client16-rel-section {
            height: 16vw;
            
            img {
                width: 25vw;
                height: inherit;
            }
        }
    }
    .clients-row-4-col-4-section {
        border-right: none;
    }
}

.past-events-image-section {
    
    .slider.past-events-slider {
        height: 50vw !important;
    
        .slides.past-events-slides {
            height: 50vw !important;
        }
    }
    .slider .indicators {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 1vw;
        margin: 0;
    }
}

.mailing-list-section {
    text-align: center;
    background: #9fd1b8;
    color: white;
    text-transform: uppercase;
    padding: 9vw 10vw;
    font-size: 2vw;
    font-family: 'gotham_bookregular';
    
    p {
        margin: 0;
    }
    .mail-form {
        margin-top: 4vw;
    }
}

.get-in-touch-section {
    text-align: center;
    background: #353535;
    color: white;
    text-transform: uppercase;
    padding: 6vw 10vw 9vw;
    font-size: 1.3vw;
    font-family: 'gotham_bookregular';
    border-bottom: 0.1vw solid rgba(10,10,10,1);
    
    .main-quote {
        font-family: 'gotham_boldregular';
        font-size: 3vw;
        line-height: 3vw;
    }
    .small-quote {
        line-height: 2.1vw;
        margin-top: 4vw;
    }
}

.main-australia-section {
    text-align: center;
    background: #353535;
    color: white;
    padding: 7vw 10vw 7vw;
    font-size: 1.5vw;
    font-family: 'gotham_bookregular';
    border-top: 0.5vw solid rgba(10,10,10,1);
    
    p {
        margin: 0;
        font-size: 2vw;
    }
    
    .area-title {
        font-size: 5vw;
        text-transform: uppercase;
        color: #9fd1b8;
        margin-bottom: 2vw;
        font-family: 'gotham_boldregular';
    }
    
    .sub-regions {
        margin-bottom: 3vw;
        font-size: 2vw;
    }
    
    a.business-phone {
        color: #9A9A9A !important;
    }
    
    .business-location {
        
        span {
            display: block;
        }
    
        .business-name {
            margin-bottom: 2vw;
            font-size: 3vw;
        }
        
        .business-address, .business-phone {
            color: #9A9A9A;
            transition: color 0.4s ease;
            width: 19vw;
            margin: 0vw 30vw 2vw;
            
            &:hover {
                color: white;
            }
        }
        .business-email-link {
            transition: letter-spacing 0.4s ease;
            width: 19vw;
            margin: 0 30vw;
            
            &:hover {
                letter-spacing: 0.1vw;
            }
        }
    }
    .australian-partner-tabs {
        margin-left: -10vw;
        margin-right: -10vw;
        margin-top: 4vw;
        
        .partner-area {
            font-size: 3vw;
            text-transform: uppercase;
            font-family: 'gotham_boldregular';
            height: 5vw;
        }
        
        .partner-offices {
            color: black;
            font-family: 'gotham_boldregular';
            line-height: 3vw;
            display: none;
            
            h3 {
                font-size: 3vw;
            }
            
            a {
                font-size: 2vw;
                text-align: center;
                color: #9A9A9A;
            }
        }
    }
}

.new-partner-tabs-section {
    background: #353535;
    text-align: center;
    border-top: 0.5vw solid rgba(10,10,10,1);
    padding: 6vw 10vw 7vw;
    
    .area-title {
        text-transform: uppercase;
        color: #9FD1B8;
        font-size: 5vw;
        margin-top: 1vw;
        padding: 0;
        margin-bottom: 0;
    }
    
    .international-blurb {
        color: white;
        font-size: 3vw;
        margin-top: 0;
        margin-bottom: 7vw;
    }
    
    .partner-area {
        color: white;
        text-transform: uppercase;
        height: 5vw;
        font-size: 3vw;
    }
    
    .partner-offices {
        font-size: 3vw;
        display: none;
        line-height: 3vw;
        color: black;
        font-family: 'gotham_boldregular';
        
        h3 {
            font-size: 3vw;
        }
        
        a {
            color: #9A9A9A;
            font-size: 2vw;
        }
    }
    
    
    
}

.partners-callout-section {
    text-align: center;
    background: #ff9b7e;
    color: white;
    font-family: 'gotham_bookregular';
    font-size: 1.5vw;
    padding: 6vw 10vw 7vw;
    
    p {
        margin: 0;
    }
    .section-title {
        font-size: 4vw;
        font-family: 'gotham_boldregular';
        margin-bottom: 2vw;
    }
    .section-quote {
        margin-bottom: 5vw;
    }
    .partner-button {
        text-transform: uppercase;
        color: white;
        background: transparent;
        border: 0.4vw solid white;
        padding: 1vw 2vw;
        font-size: 1.8vw;
        font-family: 'gotham_boldregular';
        transition: background 0.3s ease, color 0.3s ease;
        
        &:hover {
            background: white;
            color: #ff9b7e;
            transition: color 1s ease;
        }
    }
}



@media screen and (min-width: 5px) and (max-width: 768px) {
    
    .homepage-hero-section {
        height: 93vh;
        width: 100vw;
    } 
    
    .home-hero-large {
        display: none;
    }
        
    .home-hero-small {
        display: block;
        
        .hero-printer-quote {
            position: absolute;
            top: 32vw;
            left: -12vw;
            color: white;
            font-size: 5vw;
            text-align: center;
            
            .text-hide {
                color: transparent;
            }
        }
        
        .hero-printer-text {
            text-align: center;
            position: absolute;
            top: 40vw;
            color: white;
            left: 25vw;
            font-size: 5vw;
        }
    }
    
    .homepage-quote1-section p {
        text-align: center;
        text-transform: uppercase;
        font-size: 5vw;
        width: 80vw;
        padding: 18vw 0vw;
        margin: 0vw 10vw;
        color: #fa9c25;
        font-family: 'gotham_boldregular';
        line-height: 6vw;
    }
    
    .product-row-1 {
        display: none;
    }

    .product-row-2 {
        display: none;
    }
    
    .product-section-small {
        display: block;
        position: relative;
        margin-bottom: -0.3vw;
        
        .bg-black {
            height: 67vw;
            position: absolute;
            width: 100vw;
            background: rgba(10,10,10,0.4);
        }
        
        .product-1 {
            height: 67vw;
            
            .product-text {
                position: absolute;
                top: 12vw;
                text-transform: uppercase;
                color: white;
                left: 30vw;
                line-height: 7vw;
                text-align: center;
                font-size: 6vw;
            }
            
            .instagram-printer-link {
                color: white;
                border: 0.6vw solid white;
                padding: 2vw 3vw;
                font-size: 3vw;
                transition: background 0.3s ease, color 0.3s ease;
                
                &:focus {
                    background: white;
                    color: #2B2B2B;
                }
            }
        }
        
        
        .product-2 {
            height: 67vw;
            
            img {
                height: 67vw;
                width: 100vw;
            }
            
            .product-text {
                position: absolute;
                top: 12vw;
                text-transform: uppercase;
                color: white;
                left: 42vw;
                line-height: 7vw;
                text-align: center;
                font-size: 6vw;
            }
            
            .live-feed-link {
                color: white;
                border: 0.6vw solid white;
                padding: 2vw 3vw;
                font-size: 3vw;
                transition: background 0.3s ease, color 0.3s ease;
                
                &:focus {
                    background: white;
                    color: #2B2B2B;
                }
            }
        }
        
        .product-3 {
            height: 67vw;
            
            .product-text {
                position: absolute;
                top: 12vw;
                text-transform: uppercase;
                color: white;
                left: 41vw;
                line-height: 7vw;
                text-align: center;
                font-size: 6vw;
            }
            
            .gifgif-link {
                color: white;
                border: 0.6vw solid white;
                padding: 2vw 3vw;
                font-size: 3vw;
                transition: background 0.3s ease, color 0.3s ease;
                
                &:focus {
                    background: white;
                    color: #2B2B2B;
                }
            }
        }
        
        .product-4 {
            height: 67vw;
            
            .product-text {
                position: absolute;
                top: 12vw;
                text-transform: uppercase;
                color: white;
                left: 34vw;
                line-height: 7vw;
                text-align: center;
                font-size: 6vw;
            }
            
            .branded-selfie-link {
                color: white;
                border: 0.6vw solid white;
                padding: 2vw 3vw;
                font-size: 3vw;
                transition: background 0.3s ease, color 0.3s ease;
                
                &:focus {
                    background: white;
                    color: #2B2B2B;
                }
            }
        }
    }
    
    .homepage-quote2-section p {
        font-size: 5vw;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
        padding: 20vw 0;
        line-height: 6vw;
        color: white;
        width: 82vw;
        margin-left: 9vw;
    }
    
    .mailing-list-section {
        text-align: center;
        background: #9fd1b8;
        color: white;
        text-transform: uppercase;
        padding: 16vw 10vw;
        font-size: 4vw;
        font-family: 'gotham_boldregular';
        
        p {
            line-height: 4vw;
        }
    }
    
    .get-in-touch-section {
        text-align: center;
        background: #353535;
        color: white;
        padding: 11vw 5vw 11vw;
        font-size: 4vw;
        font-family: 'gotham_bookregular';
        border-bottom: 0.1vw solid #0a0a0a;
        
        .main-quote {
            font-family: 'gotham_boldregular';
            font-size: 5vw;
            line-height: 6vw;
            text-transform: uppercase;
        }
        
        .small-quote {
            line-height: 5vw;
            margin-top: 5vw;
            font-size: 4vw;
        }
    }
    
    .main-australia-section {
        text-align: center;
        background: #353535;
        color: white;
        padding: 9vw 10vw 9vw;
        font-size: 1.5vw;
        font-family: 'gotham_bookregular';
        border-top: 0.5vw solid #0a0a0a;
        position: relative;
        
        .area-title {
            font-size: 8vw;
            text-transform: uppercase;
            color: #9fd1b8;
            margin-bottom: 5vw;
            font-family: 'gotham_boldregular';
        }
        
        .sub-regions {
            margin-bottom: 3vw;
            font-size: 5vw;
            margin-top: 16vw;
            text-transform: uppercase;
            font-family: 'gotham_boldregular';
        }
        
        .business-location {
            margin: 0;
            font-size: 3.5vw;
            
            .business-name {
                margin-bottom: 2vw;
                font-size: 4vw;
                text-transform: uppercase;
                position: absolute;
                width: 96vw;
                left: 2vw;
                top: 26vw;
                font-family: 'gotham_boldregular';
            }
            
            .business-address, .business-phone {
                color: #9A9A9A;
                -webkit-transition: color 0.4s ease;
                transition: color 0.4s ease;
                width: 40vw;
                margin: 5vw 20vw 5vw;
                
                &:focus {
                    color: white;
                }
            }
            
            .business-email-link {
                -webkit-transition: letter-spacing 0.4s ease;
                transition: letter-spacing 0.4s ease;
                width: 40vw;
                margin: 0 20vw;
                font-size: 4vw;
                
                &:hover {
                    letter-spacing: 0.1vw;
                }
            }
        }
        
        .australian-partner-tabs {
            margin-left: -10vw;
            margin-right: -10vw;
            margin-top: 10vw;
            
            ul li {
                margin-bottom: 5vw;
                
                .partner-area {
                    font-size: 5vw;
                    text-transform: uppercase;
                    font-family: 'gotham_boldregular';
                    height: 5vw;
                }
                
                .partner-offices {
                    color: #FFFFFF;
                    font-family: 'gotham_boldregular';
                    line-height: 4vw;
                    display: none;
                    
                    h3 {
                        font-size: 5vw;
                    }
                    
                    a {
                        font-size: 3.5vw;
                        font-family: 'gotham_bookregular';
                        text-align: center;
                        color: #9A9A9A;
                    }
                    
                    .office-email-link {
                        color: #FFFFFF !important;
                    }
                }
            }
        }
    }
    
    .new-partner-tabs-section {
        background: #353535;
        text-align: center;
        border-top: 0.5vw solid #0a0a0a;
        padding: 8vw 10vw 9vw;
        
        .area-title {
            text-transform: uppercase;
            color: #9FD1B8;
            font-size: 8vw;
            margin-top: 1vw;
            padding: 0;
            margin-bottom: 0;
        }
        
        .international-blurb {
            color: white;
            font-size: 4vw;
            margin-top: 3vw;
            margin-bottom: 7vw;
            
        }
        
        ul li {
            margin-bottom: 5vw;
            
            .partner-area {
                font-size: 5vw;
                text-transform: uppercase;
                font-family: 'gotham_boldregular';
                height: 5vw;
            }
            
            .partner-offices {
                font-size: 4vw;
                display: none;
                line-height: 4vw;
                color: black;
                font-family: 'gotham_boldregular';
                
                
                h3 {
                    font-size: 5vw;
                    color: white;
                }
                
                a {
                    font-size: 3.5vw;
                    font-family: 'gotham_bookregular';
                    text-align: center;
                }
                
                .office-email-link {
                    color: #FFFFFF;
                }
            }
        }
    }
    
    .partners-callout-section {
        text-align: center;
        background: #ff9b7e;
        color: white;
        font-family: 'gotham_bookregular';
        font-size: 1.5vw;
        padding: 10vw 10vw 11vw;
        
        .section-title {
            font-size: 8vw;
            font-family: 'gotham_boldregular';
            margin-bottom: 3vw;
        }
        
        .section-quote {
            margin-bottom: 9vw;
            font-size: 3.5vw;
        }
        
        .partner-button {
            text-transform: uppercase;
            color: white;
            background: transparent;
            border: 0.4vw solid white;
            padding: 1vw 2vw;
            font-size: 4vw;
            font-family: 'gotham_boldregular';
            -webkit-transition: background 0.3s ease, color 0.3s ease;
            transition: background 0.3s ease, color 0.3s ease;
        }
    }
    
    .contact-form {
        height: 40vw;
        margin: 10vw 9.5vw;
        transform: scale(1.5);
        display: block;
        
        .form-submit-button {
            position: absolute;
            top: 30vw;
            left: 23.6vw;
            background: none;
            border: 0.4vw solid white;
            padding: 2vw 3vw;
            font-size: 2vw;
            color: white;
            -webkit-transition: background 0.3s ease, color 0.3s ease;
            transition: background 0.3s ease, color 0.3s ease;
        }
    }

}


