            // ----------------------------------------
            //           Icon Section
            // ----------------------------------------

.icon_section {
    position: relative;
    z-index: -2;
    padding: 80px 0;
    background: #fff;
}

.content1-quote {
    text-transform: uppercase;
    color: #888888;
    padding: 50px;
    
    h2 {
        padding: 50px 0;
        margin-top: 0;
    }
}
.icon-block h5 {
    color: #888888;
}