            // ----------------------------------------
            //           Icon Section
            // ----------------------------------------






.icon_section {
    position: relative;
    z-index: -2;
    padding: 80px 0;
    background: #fff;
}

.content1-quote {
    text-transform: uppercase;
    color: #888888;
    padding: 50px;
    background: #fff;
    
    h2 {
        padding: 50px 0;
        margin-top: 0;
    }
}
.icon-block h5 {
    color: #888888;
}


// -----------------------------------
// -----Seflie icon section for shadow
// -----------------------------------


.selfie-round-shadow {
    z-index: 1;
    border-top: 2px solid rgba(211,211,211,0.8);
    
    .white-fill-for-selfie {
        background: #fff;
    
        .selfie-icon-container {
            width: 85%;
        
            .selfie-icon-section {
                z-index: 1;
            }
        }
    }
}