/* Large screens ----------- */
.printer-body {
  overflow-x: hidden;
}

.printerpage-hero-section {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 99vh;
  background:url('/assets/printer/carousel01-big (1)-af98c94a546bd3a235bde4e4bad72f61.jpg');
  background-size: cover;
  background-position: 50%;

  .printer-hero-quote {
    display: block;
    position: absolute;

    top: 10vw;
    left: 0;
    right: 0;
    margin:0 auto;
    text-align:center;

    color: white;
    font-family: 'gotham_boldregular';
    font-size: 3vw;
  }

  .printer-hero-text {
    display: block;
    position: absolute;

    top: 13.5vw;
    left: 0;
    right: 0;
    margin:0 auto;
    text-align:center;

    color: white;
    font-family: 'gotham_boldregular';
    font-size: 3vw;
  }

  .navcontainer.navbar-desktop {
    z-index: 999;
    background-color: rgba(10, 10, 10, 0.4);
    position: absolute;
  }
}

.how-to-play-section {
  text-align: center;
  text-transform: uppercase;
  padding: 9vw 10vw;
  font-size: 3vw;
  color: #888;
  font-family: 'gotham_boldregular';
  border-bottom: 0.1vw solid rgba(10,10,10,0.1);
}

.stp-icon-section {
  overflow: hidden;
  text-align: center;
  padding:4.5vw 0;

  .icon {
    float:left;
    width:33.33333vw;
    color:#888;

    .sprite {
      height: 8vw;
      margin: 0 auto;
      width: 10vw;

      &.printer-snap-sprite {
        background: url("printer/Snap sprite.png") no-repeat;
        background-size: 10vw;
        background-position: 0vw 0vw;
      }
      
      &.printer-tag-sprite {
        background: url("printer/Tag sprite.png") no-repeat;
        background-size: 10vw;
        background-position: 0vw 0vw;
      }

      &.printer-print-sprite {
        background: url("printer/Print sprite.png") no-repeat;
        background-size: 10vw;
        background-position: 0vw 0vw;
      }
      
      &:hover {
        background-position: 0vw -8.5vw;
      }
    }

    .stp-icon-header {
      display: block;
      margin-top: 2vw;

      font-family: 'gotham_boldregular';
      font-size: 3vw;
      text-transform: uppercase;
    }

    .stp-icon-text {
      display: block;
      margin-top: 1vw;

      font-family: 'gotham_bookregular';
      font-size: 2vw;
    }
  }
}

.stp-icon-section-small {
  display:none;
}

.video-container {
  position: relative;
  overflow: hidden;
}

.about-printer-section {
  overflow:hidden;
  background:url('/assets/printer/instagram-printer-goals-bg.jpg');
  background-size:cover;
  padding:2vw 10vw;
  
  .printer-facts {
    width: 40vw;

    color: white;
    font-size: 1.4vw;
    
    .printer-facts-heading {
      text-transform: uppercase;
    }
    
    .printer-facts-body {
      font-family: 'gotham_bookregular';
    }
  }
}

.printer-img-highlight-section {
  overflow: hidden;
  background: white;
  padding:10vw 0;

  color: gray;
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;

  h2 {
    margin: 0;

    font-size: 5vw;
    font-family: 'gotham_boldregular';
  }

  .printer-image-ul {
    width: 100vw;
    margin-top: 7vw;
    padding: 0;
    
    li {
      display: inline-block;
      width: 17vw;
      margin: 0vw 0.2vw;
    }
  }
}

.printer-live-feed-strip {
  .live-feed-strip {
    overflow: hidden;
    width: 100vw;
    margin: 0;
    padding: 0;
    
    li {
      float:left;
      padding: 0;
      width: 20vw;
      height: 20vw;
        
      img {
        margin: 0;
        width: 20vw;
      }
    }
  }
}

.printer-form-div {
  overflow:hidden;
  background: #8fdae6;
  padding: 5vw 0;
  text-align:center;

  .printer-form-text {
    color: white;
    text-transform: uppercase;

    h2 {
      margin: 0;
      font-size:3vw;
    }
  }

  .printerhire-button.enquire-button {
    display:inline-block;
    margin-top: 3vw;
    padding: 1vw 3vw;

    color: white;
    font-family: 'gotham_boldregular';
    font-size: 2vw;
    text-transform: uppercase;

    border: 0.4vw solid white;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;

    &:hover {
      background:white;
      color:#8fdae6;
    }
  }

  .printerhire-form-scrollpoint.form-close {
    display:none;
  }
}

.printer-live-feed-strip-small {
  display: none;
}

.printer-live-feed-cta {
  background:url('/assets/printer/live-feed-cta-4baa7acbe41239194a9d79892e68a57c.jpg');
  background-size:cover;
  text-align: center;
  padding:5vw 0;
  
  h2 {
    margin: 0;
    color: white;
    font-size: 3vw;
    text-transform: uppercase;
  }
  
  .live-feed-hire-link {
    display:inline-block;
    margin-top: 3vw;
    padding: 1vw 3vw;

    color: white;
    font-size: 2vw;
    text-transform: uppercase;
    border: 0.4vw solid white;

    transition: background 0.4s ease, color 0.2s ease;
    
    &:hover {
      background: white;
      color: rgba(10,10,10,0.8);
    }
  }
}

/* iPads (portrait) ----------- */
@media only screen and (max-width : 1024px) {}

/* Smartphones (landscape) ----------- */
@media only screen and (max-width : 768px) {
  .printerpage-hero-section {
    .printer-hero-quote {
      top: 21vw;
      font-size: 6vw;
    }

    .printer-hero-text {
      top: 28vw;
      font-size: 6vw;
    }
  }

  .how-to-play-section {
    padding: 10vw;
    font-size: 5vw;
  }

  .stp-icon-section {
    display:block !important;
  }

  .about-printer-section {
    padding:11vw 0;

    .printer-facts {
      width:100vw;
      text-align:center;

      .printer-facts-heading {
        font-size:3vw;
        margin:1vw 0;
        text-transform:uppercase;
      }
      
      .printer-facts-body {
        display:none;
      }
    }
  }

  .printer-img-highlight-section {
    h2 {
      font-size:6vw;
    }

    .printer-image-ul {
      margin-top:10vw;

      li {
        width: 27vw;
        margin: 0vw 0.2vw;
      }
    }
  }

  .printer-form-div {
    padding:8vw 0;

    .printer-form-text {
      h2 {
        font-size:4vw;
      }
    }

    .printerhire-button.enquire-button {
      margin-top: 8vw;
      border: 0.4vw solid white;
      padding: 1vw 3vw;
    }
  }

  .printer-live-feed-cta {
    padding:8vw 0;

    h2 {
      font-size:4vw;
    }
    
    .live-feed-hire-link {
      padding: 1vw 3vw;
      margin-top: 8vw;
      border: 0.4vw solid white;
    }
  }

}

/* Big smartphones (portrait) (ie: Galaxy 3 has 360)*/
@media only screen and (max-width : 640px) {
  .printerpage-hero-section {
    .printer-hero-quote {
      top: 29vw;
      font-size: 6vw;
    }

    .printer-hero-text {
      top: 35vw;
      font-size: 6vw;
    }
  }

  .how-to-play-section {
    padding: 14vw 10vw;
    font-size: 6vw;
  }

  .stp-icon-section {
    display:block !important;
    padding:0;

    .icon {
      width:100vw;
      padding:4vw 0;
      border-bottom: 0.3vw solid rgba(10,10,10,0.2);

      .sprite {
        height: 30vw;
        width: 37.5vw;

        &.printer-snap-sprite, &.printer-tag-sprite, &.printer-print-sprite {
          background-size: 37.5vw;

          &:hover {
            background-position: 0vw -32vw;
          }
        }
      }

      .stp-icon-header {
        font-size: 6vw;
      }

      .stp-icon-text {
        font-size: 4.5vw;
      }
    }
  }

  .about-printer-section {
    padding:11vw 0;

    .printer-facts {
      width:100vw;
      text-align:center;

      .printer-facts-heading {
        font-size:4vw;
        margin:1vw 0;
        text-transform:uppercase;
      }
      
      .printer-facts-body {
        display:none;
      }
    }
  }

  .printer-img-highlight-section {
    h2 {
      font-size:8vw;
    }

    .printer-image-ul {
      margin-top:10vw;

      li {
        width:26vw;
      }
    }
  }

  .printer-live-feed-strip {
    .live-feed-strip {
      li {
        display:none;
        width:33vw;
        height:33vw;

        img {
          width: 33vw;
        }

        &:nth-child(1), &:nth-child(2), &:nth-child(3) { 
          display:block;
        }
      }
    }
  }

  .printer-form-div {
    padding:8vw 0;

    .printer-form-text {
      h2 {
        font-size:5.6vw;
      }
    }

    .printerhire-button.enquire-button {
      padding: 2vw 5vw;
      margin-top: 8vw;
      font-size: 4vw;
      border: 0.7vw solid white;
    }
  }

  .printer-live-feed-cta {
    padding:8vw 0;

    h2 {
      font-size:5.6vw;
    }
    
    .live-feed-hire-link {
      padding: 2vw 5vw;
      margin-top: 8vw;
      font-size: 4vw;
      border: 0.7vw solid white;
    }
  }
}
