
.printerpage-hero-section {

    position: relative;
    height: 99vh;
    width: 100vw;


    .navcontainer.navbar-desktop {
        z-index: 999;
        background-color: rgba(10, 10, 10, 0.4);
        position: absolute;
    }
    
    .printer-page-hero-image {
        height: 99vh;
        width: 100%;
    }
}

.how-to-play-section {
    text-align: center;
    text-transform: uppercase;
    padding: 9vw 10vw;
    font-size: 3vw;
    color: #888;
    font-family: 'gotham_boldregular';
    border-bottom: 0.1vw solid rgba(10,10,10,0.1);
    
}

.stp-icon-section.round-shadow {
    text-align: center;
    text-transform: uppercase;
    position: relative;
    height: 26vw;
    width: 100vw;
    color: #888;
    background: #fff;
    -webkit-box-shadow: 0 0vw 0vw rgba(0, 0, 0, 0.3);
    box-shadow: 0 0vw 0vw rgba(0, 0, 0, 0.3);
    
    &:after {
        content: "";
        position: absolute;
        z-index: -1;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.8);
        bottom: 0px;
        left: 10%;
        right: 10%;
        width: 80%;
        height: 50%;
        border-radius: 100%;
    }
    
    img {
        margin-top: 8vw;
    }
    .stp-icon-header {
        display: block;
        margin-top: 2vw;
        font-size: 3vw;
    }
    .stp-icon-text {
        display: block;
        margin-top: 2vw;
        font-family: 'gotham_bookregular';
    }
    
    .snap-icon-section {
        width: 33.33333vw;
        position: absolute;
        height: inherit;
        
        .printer-snap-sprite {
            background: url("printer/Snap sprite.png") no-repeat;
            height: 7.7vw;
            margin-left: 14vw;
            margin-top: 3vw;
            width: 6vw;
            background-position: 0 0vw;
            background-size: 6vw;
            
            &:hover {
                background-position: 0vw -8vw;
            }
        }
    }
    .tag-icon-section {
        width: 33.33333vw;
        position: absolute;
        height: inherit;
        left: 33.33333vw;
        
        .printer-tag-sprite {
            background: url("printer/Tag sprite.png") no-repeat;
            height: 8vw;
            margin-left: 13vw;
            margin-top: 2.5vw;
            margin-bottom: 0;
            background-size: 9.5vw;
            background-position: 0vw 0vw;
            width: 10vw;
            
            &:hover {
                background-position: 0.5vw -8vw;
            }
        }
    }
    .print-icon-section {
        width: 33.33333vw;
        position: absolute;
        height: inherit;
        left: 66.66667vw;
        
        .printer-print-sprite {
            background: url("printer/Print sprite.png") no-repeat;
            height: 8vw;
            margin-left: 12vw;
            margin-top: 2.5vw;
            width: 10vw;
            background-size: 10vw;
            background-position: 0vw 0vw;
            
            &:hover {
                background-position: 0vw -8.5vw;
            }
        }
    }
}



.about-printer-section {
    position: relative;
    
    .about-printer-background {
        width: 100vw;
    }
    
    .printer-facts {
        position: absolute;
        top: 4vw;
        left: 10vw;
        width: 40vw;
        color: white;
        font-size: 1.3vw;
        
        .printer-facts-heading {
            text-transform: uppercase;
        }
        
        .printer-facts-body {
            font-family: 'gotham_bookregular';
            margin-bottom: 2vw;
        }
    }
}

.printer-img-highlight-section {
    height: 75vw;
    text-align: center;
    font-size: 3vw;
    text-transform: uppercase;
    color: gray;
    background: white;
    
    h2 {
        font-size: 3.5vw;
        margin: 5vw 0 5vw;
    }
    
    .printer-image-ul {
        width: 100vw;
        padding: 0;
        
        li {
            display: inline-flex;
            width: 21.7vw;
            height: 100%;
            margin: 0vw 0.2vw;
            
            img {
                width: 22vw;
                height: 100%;
            }
        }
    }
}

.printer-live-feed-strip {
    
    .live-feed-strip {
        width: 102vw;
        margin: 0;
        margin-bottom: -0.5vw;
        padding: 0;
        overflow: hidden;
        
        li {
            display: inline-block;
            padding: 0;
            width: 20vw;
            
            img {
                margin: 0;
                width: 20.4vw;
                max-width: 150%;
            }
        }
    }
}

.instagram-printer-cta-section {
    background: #8fdae6;
    position: relative;
    height: 30vw;
    
    h2 {
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        font-size: 3vw;
        color: white;
        padding: 7vw 0 8vw;
    }
    .printer-hire-link {
        font-size: 1.5vw;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 19vw;
        left: 43vw;
        border: 0.4vw solid white;
        padding: 0.7vw 2vw;
        transition: background 0.4s ease, color 0.2s ease;
        
        &:hover {
            color: #8fdae6;
            background: white;
        }
    }
}

.printer-live-feed-cta {
    position: relative;
    height: 26.8vw;
    
    .printer-live-feed-background-image {
        position: absolute;
        width: 100vw;
    }
    
    h2 {
        position: absolute;
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-size: 3vw;
        left: 26vw;
        top: 5vw;
    }
    
    .live-feed-hire-link {
        position: absolute;
        font-size: 1.5vw;
        text-transform: uppercase;
        color: white;
        position: absolute;
        top: 18vw;
        left: 43vw;
        border: 0.4vw solid white;
        padding: 0.7vw 2vw;
        transition: background 0.4s ease, color 0.2s ease;
        
        &:hover {
            background: white;
            color: rgba(10,10,10,0.8);
        }
    }
}


@media screen and (min-width: 5px) and (orientation: portrait) {
    
    .printerpage-hero-section .printer-page-hero-image {
        height: 99vh;
        width: 300vw;
        left: -99vw;
        position: absolute;
        max-width: 300vw;
    }
    
    .how-to-play-section {
        text-align: center;
        text-transform: uppercase;
        padding: 14vw 10vw;
        font-size: 6vw;
        color: #888;
        font-family: 'gotham_boldregular';
        border-bottom: 0.3vw solid rgba(10, 10, 10, 0.1);
    }
    
    .stp-icon-section {
        display: none;
    }
    
    .stp-icon-section-small {
        display: block;
        
        .snap-icon-section {
            position: relative;
            height: 68vw;
            border-bottom: 0.3vw solid rgba(10,10,10,0.2);
            text-transform: uppercase;
            color: #888;
            text-align: center;
            
            img {
                position: absolute;
                top: 5vw;
                left: 40vw;
            }
            
            .stp-icon-header {
                position: absolute;
                top: 36vw;
                left: 40vw;
                font-size: 6vw;
            }
            
            .stp-icon-text {
                position: absolute;
                top: 47vw;
                left: 22vw;
                text-transform: initial;
                font-size: 4.5vw;
                font-family: 'gotham_bookregular';
            }
        }
        
        .tag-icon-section {
            position: relative;
            height: 68vw;
            border-bottom: 0.3vw solid rgba(10,10,10,0.2);
            text-transform: uppercase;
            color: #888;
            text-align: center;
            
            img {
                position: absolute;
                left: 32vw;
                top: 5vw;
            }
            
            .stp-icon-header {
                position: absolute;
                left: 40vw;
                top: 36vw;
                font-size: 6vw;
            }
            
            .stp-icon-text {
                left: 32vw;
                top: 47vw;
                position: absolute;
                text-transform: initial;
                font-size: 4.5vw;
                font-family: 'gotham_bookregular';
            }
        }
        
        .print-icon-section {
            position: relative;
            height: 68vw;
            text-transform: uppercase;
            color: #888;
            text-align: center;
            
            img {
                position: absolute;
                top: 5vw;
                left: 31vw;
            }
            
            .stp-icon-header {
                position: absolute;
                left: 38vw;
                top: 36vw;
                font-size: 6vw;
            }
            
            .stp-icon-text {
                position: absolute;
                left: 32vw;
                top: 47vw;
                text-transform: initial;
                font-size: 4.5vw;
                font-family: 'gotham_bookregular';
            }
        }
    }
    
    .about-printer-section {
        display: none;
    }
    
    .about-printer-section-small {
        display: block;
        position: relative;    
        
        .printer-facts {
            position: absolute;
            top: 7vw;
            left: 12vw;
            font-size: 3.5vw;
            text-transform: uppercase;
            color: white;
            font-family: 'gotham_bookregular';
            
            p {
                margin: 3vw;
            }
        }
    }
    
    .printer-img-highlight-section {
        height: 102vw;
        text-align: center;
        font-size: 3vw;
        text-transform: uppercase;
        color: gray;
        background: white;
        
        h2 {
            font-size: 8vw;
            margin: 9vw 0 16vw;
        }
        
        .printer-image-ul {
            width: 100vw;
            padding: 0;
            transform: scale(1.2);
        }
    }
    
    .printer-live-feed-strip {
        display: none;
    }
    
    .printer-live-feed-strip-small {
        display: block;
        height: 33vw;
        
        .live-feed-strip {
            position: relative;
            width: 100vw;
            height: inherit;
            
            .img1 {
                position: absolute;
                width: 33.3333vw;
            }
            
            .img2 {
                position: absolute;
                left: 33.3333vw;
                width: 33.3333vw;
            }
            
            .img3 {
                position: absolute;
                left: 66.6666vw;
                width: 33.3333vw;
            }
        }
    }
    
    .instagram-printer-cta-section {
        background: #8fdae6;
        position: relative;
        height: 47vw;
        
        h2 {
            margin: 0;
            text-align: center;
            text-transform: uppercase;
            font-size: 5vw;
            color: white;
            padding: 11vw 0 8vw;
        }
        
        .printer-hire-link {
            font-size: 3.5vw;
            text-transform: uppercase;
            color: white;
            position: absolute;
            top: 28vw;
            left: 37vw;
            border: 0.7vw solid white;
            padding: 2vw 3vw;
            -webkit-transition: background 0.4s ease, color 0.2s ease;
            transition: background 0.4s ease, color 0.2s ease;
        }
    }
    
    .printer-live-feed-cta {
        position: relative;
        height: 47vw;
        
        .printer-live-feed-background-image {
            position: absolute;
            width: auto;
            max-width: 200vw;
            height: inherit;
        }
        
        h2 {
            position: absolute;
            color: white;
            text-transform: uppercase;
            text-align: center;
            font-size: 5vw;
            left: 11vw;
            top: 5vw;
        }
        
        .live-feed-hire-link {
            position: absolute;
            font-size: 1.5vw;
            text-transform: uppercase;
            color: white;
            position: absolute;
            top: 28vw;
            left: 37vw;
            border: 0.7vw solid white;
            font-size: 3.5vw;
            padding: 2vw 3vw;
            -webkit-transition: background 0.4s ease, color 0.2s ease;
            transition: background 0.4s ease, color 0.2s ease;
        }
    }
}