            // ----------------------------------------
            //           Quote Section
            // ----------------------------------------

.quote-section {
    color: #f7a73f;
    text-transform: uppercase;
    
    h2 {
        padding: 100px 0;
    }
}