@font-face {
    font-family: 'gotham_bookregular';
    src: url('copyfonts.com_gotham-book-webfont.eot');
    src: url('copyfonts.com_gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('copyfonts.com_gotham-book-webfont.woff2') format('woff2'),
         url('copyfonts.com_gotham-book-webfont.woff') format('woff'),
         url('copyfonts.com_gotham-book-webfont.ttf') format('truetype'),
         url('copyfonts.com_gotham-book-webfont.svg#gotham_bookregular') format('svg');
    
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_boldregular';
    src: url('copyfonts.com_gotham-bold-webfont.eot');
    src: url('copyfonts.com_gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('copyfonts.com_gotham-bold-webfont.woff2') format('woff2'),
         url('copyfonts.com_gotham-bold-webfont.woff') format('woff'),
         url('copyfonts.com_gotham-bold-webfont.ttf') format('truetype'),
         url('copyfonts.com_gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    
    font-weight: normal;
    font-style: normal;

}


body {
    font-family: 'gotham_boldregular';
}


// --------------------------------------
// navbar styles for gif and selfies page
// --------------------------------------

.navcontainer {
    width: 100%;
    height: 112px;
    background-color: rgba(10,10,10,0.5);
    
    .nav-elements {
        position: relative;
        width: 100%;
        
        img, .nav-list {
            position: absolute;
        }
        
        img {
            transform: scale(0.8);
            top: -5px;
            left: 7%;
        }
        
        .nav-list {
            left: 32%;
            font-size: 1.1em;
            margin-top: 15px;
            text-transform: uppercase;
            z-index: 2;
            
            
            ul {
                padding: 0;
                list-style: none;
                
                li {
                    display: inline-block;
                    margin-left: 29px;
                    padding: 3px 15px;
                    border: 4px solid rgba(255,255,255,0);
                    
                    &:hover {
                        border: 4px solid rgba(255,255,255,1);
                        font-weight: 400;
                    }
                    
                    a {
                        color: #fff;
                        font-family: 'gotham_boldregular';
                    }
                }
            }
        }
    }
}

// -----------------------------------------------
// navbar styles for selfies foreground hero image
// -----------------------------------------------

.selfies-hero-image-container {
    position: relative;
    overflow: hidden;
    background: url("/assets/selfie-hero-img-compressor.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 840px;
    width: 100%;


    #selfie-foreground-hero {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        transform: scale(0.7);
        padding-top: 398px;
        padding-right: 144px;
    }
}

     // ----------------------------------------
     //           Icon Section
     // ----------------------------------------


.icon_section {
    position: relative;
    z-index: -2;
    padding: 80px 0;
    background: #fff;
}

.content1-quote {
    text-transform: uppercase;
    color: #888888;
    padding: 50px;
    background: #fff;
    
    h2 {
        padding: 50px 0;
        margin-top: 0;
        font-family: 'gotham_boldregular' !important;
    }
}
.icon-block h5 {
    color: #888888;
}


// -----------------------------------
// -----Seflie icon section for shadow
// -----------------------------------


.selfie-round-shadow {
    z-index: 1;
    border-top: 2px solid rgba(211,211,211,0.8);
    
    .white-fill-for-selfie {
        background: #fff;
    
        .selfie-icon-container {
            width: 85%;
        
            .selfie-icon-section {
                z-index: 1;
                font-family: 'gotham_bookregular';
            }
        }
    }
}

// -----------------------------------
// -----teal quote section for selfies
// -----------------------------------


.section-teal-bg {
    background-color: #a0d1b8;
    color: white;
    padding: 100px 0;
    text-transform: uppercase;
    z-index: -1;
    
    h2 {
        margin: 0;
        font-family: 'gotham_boldregular';
    }
}


// -------------------------------------
// -----selfie blurb section for selfies
// -------------------------------------


.selfie-blurb-on-image {
    position: relative;
    overflow: hidden;
    
    img {
        width: 100%;
    }
    
    .selfie-blurb-text {
        position: absolute;
        width: 70%;
        top: 25%;
        left: 15%;
        color: #fff;
    }
    
    h2 {
        text-transform: uppercase;
    }
    
    p {
        font-family: 'gotham_bookregular';
    }
}


// -------------------------------------------
// -----selfie ipad/selfie section for selfies
// -------------------------------------------


.selfie-ipad-container {
    width: 100%;
    position: relative;
    height: 800px;
    
    .selfie-and-text-box {
        padding-top: 64%;
    }
    
    .img-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        
        &:before {
            content: '';
            display: inline;
            vertical-align: middle;
            height: 100%;
        }
        
        .img-ul-container {
            vertical-align: middle;
            display: inline-block;
            
            img {
                position: absolute;
                width: 45%;
                right: 45%;
                top: 6%;
            }
            
            ul {
                position: absolute;
                top: 10%;
                right: 5%;
                bottom: 20%;
                left: 65%;
                
                li p {
                    font-family: 'gotham_bookregular';
                    color: #888888;
                }
            }
        }
    }
}


// -------------------------------------------
// -----selfie gray quote section for selfies
// -------------------------------------------


.section-grey-bg {
    background-color: #bfbfbf;
    color: white;
    padding: 100px 0;
    text-transform: uppercase;
    
    h2 {
        margin: 0;
    }
}


// -------------------------------------------
// ----- selfie strip section for selfies
// -------------------------------------------

.selfie-strip {
    margin-top: 0px;
    margin-bottom: -5px;
    overflow: hidden;
    width: 101%;

    img {
        padding: 0;
        margin: -2px;
        width: 20%;
    }
}


// -------------------------------------------
// ----- mainCTA teal section for selfies
// -------------------------------------------

.maincta-teal-bg {
    background-color: #a0d1b8;
    color: white;
    padding: 100px 0;
    text-transform: uppercase;
    
    h2 {
        margin: 0;
        padding-bottom: 30px;
    }
    
    .book-now-button {
        text-decoration: none;
        color: #fff;
        border: 4px solid #fff;
        padding: 11px 23px;
        font-size: 0.8em;
        
        &:hover {
            font-weight: 400;
        }
    }
}


// -------------------------------------------
// ----- livefeedCTA teal section for selfies
// -------------------------------------------


.livefeedcta-bg {
    text-transform: uppercase;
    color: #fff;
    padding: 100px 0;
    background: url("/assets/Gif CTA image FINAL.png") no-repeat;
    background-size:cover;
    width: 100%;
    
    
    h2 {
        margin: 0;
        padding-bottom: 30px;
    }
    
    .gif-enquire-button {
        text-decoration: none;
        color: #fff;
        border: 4px solid #fff;
        padding: 11px 23px;
        font-size: 0.8em;
        
        &:hover {
            font-weight: 400;
        }
    }
}