@font-face {
    font-family: 'gotham_bookregular';
    src: url('copyfonts.com_gotham-book-webfont.eot');
    src: url('copyfonts.com_gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('copyfonts.com_gotham-book-webfont.woff2') format('woff2'),
         url('copyfonts.com_gotham-book-webfont.woff') format('woff'),
         url('copyfonts.com_gotham-book-webfont.ttf') format('truetype'),
         url('copyfonts.com_gotham-book-webfont.svg#gotham_bookregular') format('svg');
    
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gotham_boldregular';
    src: url('copyfonts.com_gotham-bold-webfont.eot');
    src: url('copyfonts.com_gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('copyfonts.com_gotham-bold-webfont.woff2') format('woff2'),
         url('copyfonts.com_gotham-bold-webfont.woff') format('woff'),
         url('copyfonts.com_gotham-bold-webfont.ttf') format('truetype'),
         url('copyfonts.com_gotham-bold-webfont.svg#gotham_boldregular') format('svg');
    
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}


body {
    font-family: 'gotham_boldregular';
    height: 100%;
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
}

.container {
    max-width: 100%;
}


// --------------------------------------
// navbar styles for gif and selfies page
// --------------------------------------



// -----------------------------------------------
// navbar styles for selfies foreground hero image
// -----------------------------------------------

.selfies-hero-image-container {
    position: relative;
    overflow: hidden;
    background: url("/assets/Hero image B&W.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    // height: 840px;
    width: 101%;


    #selfie-foreground-hero {
        // position: absolute;
//         top: -9999px;
//         bottom: -9999px;
//         left: -9999px;
//         right: -9999px;
//         margin: auto;
//         transform: scale(0.7);
//         padding-top: 398px;
//         padding-right: 144px;
    }
}

     // ----------------------------------------
     //           Icon Section
     // ----------------------------------------


.icon_section-selfie {
    position: relative;
    z-index: -2;
    padding: 80px 0;
    background: #fff;
}

.content1-quote-selfie {
    text-transform: uppercase;
    color: #888888;
    // padding: 50px;
    background: #fff;
    
    h2 {
        // padding: 50px 0;
        // margin-top: 0;
        font-family: 'gotham_boldregular' !important;
    }
}
.icon-block h5 {
    color: #888888;
}


// -----------------------------------
// -----Seflie icon section for shadow
// -----------------------------------


.selfie-round-shadow {
    z-index: 1;
    border-top: 2px solid rgba(211,211,211,0.8);
    
    .white-fill-for-selfie {
        background: #fff;
    
        .selfie-icon-container {
            // width: 85%;
        
            .selfie-icon-section {
                z-index: 1;
                font-family: 'gotham_bookregular';
            }
        }
    }
}

// -----------------------------------
// -----teal quote section for selfies
// -----------------------------------


.section-teal-bg {
    background-color: #a0d1b8;
    color: white;
    padding: 100px 0;
    text-transform: uppercase;
    z-index: -1;
    
    h2 {
        margin: 0;
        font-family: 'gotham_boldregular';
    }
}


// -------------------------------------
// -----selfie blurb section for selfies
// -------------------------------------


.selfie-blurb-on-image {
    position: relative;
    overflow: hidden;
    
    img {
        width: 100%;
    }
    
    .selfie-blurb-text {
        position: absolute;
        width: 70%;
        top: 25%;
        left: 15%;
        color: #fff;
    }
    
    h2 {
        text-transform: uppercase;
    }
    
    p {
        font-family: 'gotham_bookregular';
    }
}


// -------------------------------------------
// -----selfie ipad/selfie section for selfies
// -------------------------------------------


.selfie-ipad-container {
    width: 100%;
    position: relative;
    height: 800px;
    
    .selfie-and-text-box {
        padding-top: 64%;
    }
    
    .img-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        
        &:before {
            content: '';
            display: inline;
            vertical-align: middle;
            height: 100%;
        }
        
        .img-ul-container {
            vertical-align: middle;
            display: inline-block;
            
            img {
                position: absolute;
                width: 45%;
                right: 45%;
                top: 6%;
            }
            
            ul {
                position: absolute;
                top: 10%;
                right: 5%;
                bottom: 20%;
                left: 65%;
                
                li p {
                    font-family: 'gotham_bookregular';
                    color: #888888;
                }
            }
        }
    }
}


// -------------------------------------------
// -----selfie gray quote section for selfies
// -------------------------------------------





// -------------------------------------------
// ----- selfie strip section for selfies
// -------------------------------------------

.selfie-strip {
    margin-top: 0px;
    margin-bottom: -5px;
    overflow: hidden;
    width: 101%;

    img {
        padding: 0;
        margin: -2px;
        width: 20%;
    }
}


// -------------------------------------------
// ----- mainCTA teal section for selfies
// -------------------------------------------




// -------------------------------------------
// ----- livefeedCTA teal section for selfies
// -------------------------------------------


.livefeedcta-bg {
    text-transform: uppercase;
    color: #fff;
    padding: 100px 0;
    background: url("/assets/Gif CTA image FINAL.png") no-repeat;
    background-size:cover;
    width: 100%;
    
    
    h2 {
        margin: 0;
        padding-bottom: 30px;
    }
    
    .gif-enquire-button {
        text-decoration: none;
        color: #fff;
        border: 4px solid #fff;
        padding: 11px 23px;
        font-size: 0.8em;
        
        &:hover {
            font-weight: 400;
        }
    }
}

//--------------------------------------------------------------
//                        MEDIA QUERIES
//--------------------------------------------------------------

@media screen and (min-width: 5px) and (orientation: portrait) {
    .selfies-hero-image-container {
        height: 99vh;
        
        .nav-selfie-image {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0%;
            transform-origin: 50% 100%;
            
            .selfies-hero-text {
                color: #ffffff;
                position: absolute;
                left: 11vw;
                text-align: center;
                top: 46vw;
                text-transform: uppercase;
                font-size: 6vw;
            }
            
            img#facebook-icon {
                position: absolute;
                right: 1.5vw;
                height: 5vw;
                top: 28vw;
            }
            img#twitter-icon {
                position: absolute;
                right: 1.5vw;
                height: 5vw;
                top: 36vw;
            }
            img#instagram-icon {
                position: absolute;
                right: 1.5vw;
                height: 5vw;
                top: 43vw;
            }
        
            #selfie-foreground-hero {
                height: 85vw;
                bottom: 0%;
                left: -1%;
                position: absolute;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1.05);
            }
        }
    }
    .content1-quote-selfie {
        h2 {
            margin: 0;
            font-size: 5.5vw;
            padding: 18% 4%;
        }
    }
    .content1-quote-selfie {
        h2 {
            margin: 0;
            font-size: 5.5vw;
            padding: 18% 4%;
        }
    }
    .selfie-no-sprites {
        display: block;
    }
    .selfie-desktop-sprites {
        display: none;
    }
    .selfie-round-shadow {
        width: 100%;
        
        .white-fill-for-selfie {
            
            .selfie-icon-container {
                width: 90%;
                margin: 0 5%;
            
                .row {
                    margin-left: -6%;
                    margin-right: -6%;
                    margin-bottom: 0;
                    
                    .icon-block-1, .icon-block-2 {
                        border-bottom: 1px solid rgba(200,200,200,.4);
                    }
                    
                    .icon-block-1 {
                        
                        h2 {
                            margin-top: 10vw;
                        }
                        
                        img {
                            height: 27vw;
                            margin-top: 0;
                        }
                        h5 {
                            font-size: 5vw;
                            margin-top: 8vw;
                            margin-bottom: 11vw;
                        }
                    }
                    
                    .icon-block-2 {
                        
                        h2 {
                            margin-top: 12vw;
                        }
                        
                        img {
                            height: 27vw;
                            margin-top: 0;
                        }
                        h5 {
                            font-size: 6vw;
                            margin-top: 10vw;
                            margin-bottom: 11vw;
                        }
                    }
                    .icon-block-3 {
                        
                        h2 {
                            margin-top: 11vw;
                        }
                        
                        img {
                            height: 24vw;
                            margin-top: 0;
                        }
                        h5 {
                            font-size: 6vw;
                            margin-top: 10vw;
                            margin-bottom: 11vw;
                        }
                    }
                }
            }
        }
    }
    .large-section-teal-bg {
        display: none;
    }
    .section-teal-bg {
        display: block;
        padding: 25% 0;
        
        h2 {
            font-size: 6vw;
            padding: 0;
        }
    }
    .selfie-blurb-on-image {
        display: none;
        position: relative;
        overflow: hidden;
    }
    .small-selfie-blurb-on-image {
        display: block;
        position: relative;
        overflow: hidden;
        
        .small-selfie-blurb-text {
            position: absolute;
            width: 90%;
            top: 0%;
            left: 5%;
            color: #fff;
            height: 97%;
            
            h2 {
                text-transform: uppercase;
                font-size: 5vw;
                position: absolute;
                width: 90%;
                left: 5%;
                top: 12%;
                margin-top: 5%;
                color: #f5f5f5;
            }
            
            p {
                font-family: 'gotham_bookregular';
                font-size: 4vw;
                position: absolute;
                width: 70%;
                left: 15%;
                top: 38%;
            }
        }
    }
    .lg-selfie-ipad-container {
        display: none;
    }
    .selfie-ipad-container {
        display: none;
    }
    .small-selfie-text-container {
        display: block;
        width: 100%;
        
        .small-selfie-img-box img {
            height: 95vw;
            margin-left: 11.5%;
            margin-top: 7%;
        }
        
        .small-selfie-text-box {
            width: 100%;
            text-align: center;
            margin-top: 10%;
            
            ul li {
                padding: 0 12%;
            }
            
            .selfie-text {
                font-family: 'gotham_bookregular';
                
                li .selfie-text-header {
                    font-size: 5vw;
                
                    &:hover {
                        color: #9FD1B8;
                    }
                }
                li p {
                    margin-bottom: 14%;
                }
                li .last-selfie-text-block {
                    margin-bottom: 2%;
                }
            }
            
            .brand-values, .social-reach {
                border-bottom: 1px solid rgba(200,200,200,0.4);
            }
        }
    }
    .section-grey-bg {
        background-color: #bfbfbf;
        color: white;
        padding: 12% 0;
        text-transform: uppercase;
        
        h2 {
            margin-left: 5%;
            width: 90%;
            font-size: 6.5vw;
        }
    }
    .selfie-strip {
        display: none;
    }
    .small-selfie-strip {
        display: block;
        width: 101vw;
        overflow: hidden;
        height: 34.1vw;
        
        img {
            width: 34.2vw;
            margin: 0 -1%;
        }
    }
    .maincta-teal-bg {
        background-color: #a0d1b8;
        color: white;
        padding: 14% 0 18% 0;
        text-transform: uppercase;
        width: 100%;
        
        h2 {
            font-size: 6vw;
            width: 90%;
            margin: 0 5% 5% 5%;
        }
        
        .book-now-button {
            text-decoration: none;
            color: #fff;
            border: 4px solid #fff;
            padding: 3%;
            font-size: 3vw;
        }
    }
    .livefeedcta-bg {
        text-transform: uppercase;
        color: #fff;
        padding: 14% 0;
        background: url("/assets/Gif CTA image FINAL.png") no-repeat;
        background-size: cover;
        width: 100%;
        
        h2 {
            margin: 0;
            padding-bottom: 7%;
            font-size: 6vw;
            width: 90%;
            margin-left: 5%;
        }
        
        .gif-enquire-button {
            text-decoration: none;
            color: #fff;
            border: 4px solid #fff;
            padding: 3%;
            font-size: 3vw;
        }
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .selfies-hero-image-container {
        height: 99vh;
        
        .nav-selfie-image {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0%;
            transform-origin: 50% 100%;
            
            .selfies-hero-text {
                color: #ffffff;
                position: absolute;
                left: 11vw;
                text-align: center;
                top: 26vw;
                text-transform: uppercase;
                font-size: 6vw;
            }
            
            img#facebook-icon {
                position: absolute;
                right: 1.5vw;
                height: 4vw;
                top: 28vw;
            }
            img#twitter-icon {
                position: absolute;
                right: 1.5vw;
                height: 4vw;
                top: 34vw;
            }
            img#instagram-icon {
                position: absolute;
                right: 1.5vw;
                height: 4vw;
                top: 40vw;
            }
        
            #selfie-foreground-hero {
                height: 85vw;
                bottom: 0%;
                left: -1%;
                position: absolute;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1.05);
            }
        }
    }
    .selfie-no-sprites {
        display: block;
    }
    .selfie-desktop-sprites {
        display: none;
    }
    .selfie-round-shadow {
        
        .white-fill-for-selfie {
        
            .selfie-icon-container {
                width: 90%;
                margin: 0 5%;
            
                .selfie-icon-section {
                    
                    .row {
            
                        .icon-block-1, .icon-block-2, .icon-block-3 {
                            margin: 0;
                            width: 100%;
                            padding: 0 10vw;
                        }
                        .icon-block-1 {
                            
                            h2 {
                                margin-top: 10vw;
                            }
                            
                            img {
                                height: 23vw;
                                margin-top: 0;
                            }
                            h5 {
                                font-size: 4vw;
                                margin-top: 8vw;
                                margin-bottom: 11vw;
                            }
                        }
                        .icon-block-2 {
                            
                            h2 {
                                margin-top: 12vw;
                            }
                            
                            img {
                                height: 23vw;
                                margin-top: 0;
                            }
                            h5 {
                                font-size: 4vw;
                                margin-top: 10vw;
                                margin-bottom: 11vw;
                            }
                        }
                        .icon-block-3 {
                            
                            h2 {
                                margin-top: 11vw;
                            }
                            
                            img {
                                height: 21vw;
                                margin-top: 0;
                            }
                            h5 {
                                font-size: 4vw;
                                margin-top: 10vw;
                                margin-bottom: 11vw;
                            }
                        }
                    }
                }
            }
        }
    }
    .large-section-teal-bg.center {
        display: none;
    }
    .section-teal-bg {
        display: block;
    }
    .small-selfie-blurb-on-image .small-selfie-blurb-text p {
        line-height: 118%;
        top: 45%;
    }
    .lg-selfie-ipad-container {
        display: none;
    }
    .small-selfie-text-container {
    
        .small-selfie-img-box {
            transform: scale(0.8);
            
            img {
                margin-top: 1%;
            }
        }
        
        .small-selfie-text-box {
            margin-top: 1%;
            
            .selfie-text {
                margin-top: -1%;
                
                li p {
                    font-size: 3.5vw;
                    margin-top: 7%;
                }
                
                li .last-selfie-text-block {
                    margin-bottom: 8%;
                }
            }
        }
    }
    .section-grey-bg {
        z-index: 2;
        margin-bottom: -1%;
    }
    .small-selfie-strip {
        overflow: hidden;
        width: 104vw;
        margin-left: 0%;
        z-index: -1;
        margin-bottom: -1%;
        height: initial;
        
        img {
            width: 33.33333%;
            margin: 0% -0.3%;
            height: 100%;
        }
    }
    .maincta-teal-bg {
        padding: 14% 0 16% 0;
        
        h2 {
            margin: 0 5% 10% 5%;
        }
    }
    .livefeedcta-bg h2 {
        padding-bottom: 10%;
    }
}


@media screen and (min-width: 5px) and (max-width: 1023px) and (orientation: landscape) {
    .selfies-hero-image-container {
        height: 99vh;
        
        .nav-selfie-image {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0%;
            transform-origin: 50% 100%;
            
            .selfies-hero-text {
                color: #FFFFFF;
                position: absolute;
                left: 6vw;
                text-align: left;
                top: 13vw;
                text-transform: uppercase;
                font-size: 2.5vw;
                z-index: 1;
            }
            
            img#facebook-icon {
                position: absolute;
                right: 1.5vw;
                height: 3vw;
                top: 18vw;
            }
            img#twitter-icon {
                position: absolute;
                right: 1.5vw;
                height: 3vw;
                top: 22vw;
            }
            img#instagram-icon {
                position: absolute;
                right: 1.5vw;
                height: 3vw;
                top: 26vw;
            }
        
            #selfie-foreground-hero {
                height: 49vw;
                bottom: 0%;
                left: 33%;
                position: absolute;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1.05);
            }
        }
    }
    .content1-quote-selfie {
        h2 {
            margin: 0;
            font-size: 4.5vw;
            padding: 13% 4%;
        }
    }
    .selfie-no-sprites {
        display: block;
    }
    .selfie-desktop-sprites {
        display: none;
    }
    .selfie-round-shadow {
        width: 100%;
        
        .white-fill-for-selfie {
            
            .selfie-icon-container {
                width: 100%;
                margin: 0;
            
                .row {
                    margin-left: -6%;
                    margin-right: -6%;
                    margin-bottom: 0;
                    
                    .icon-block-1, .icon-block-2 {
                        border-bottom: 1px solid rgba(200,200,200,.4);
                    }
                    
                    .icon-block {
                        transform: scale(0.7);
                        
                        p.light {
                            margin: 0;
                        }
                    }
                    
                    .icon-block-1 {
                        
                        h2 {
                            margin-top: -3%;
                        }
                        img {
                            height: 30vw;
                            margin-top: 6%;
                        }
                        h5 {
                            font-size: 6vw;
                            margin-top: 11%;
                            margin-bottom: 1%;
                        }
                    }
                    
                    .icon-block-2 {
                        
                        h2 {
                            margin-top: -3%;
                        }
                        
                        img {
                            height: 29vw;
                            margin-top: 6%;
                        }
                        h5 {
                            font-size: 6vw;
                            margin-top: 11%;
                            margin-bottom: -1%;
                        }
                    }
                    .icon-block-3 {
                        padding-bottom: 1%;
                        
                        h2 {
                            margin-top: -3%;
                        }
                        
                        img {
                            height: 26vw;
                            margin-top: 6%;
                        }
                        h5 {
                            font-size: 6vw;
                            margin-top: 11%;
                            margin-bottom: 0%;
                        }
                    }
                }
            }
        }
    }
    .large-section-teal-bg {
        display: none;
    }
    .section-teal-bg {
        display: block;
        padding: 14% 0;
        
        h2 {
            font-size: 5vw;
            padding: 0;
        }
    }
    .selfie-blurb-on-image {
        display: none;
        position: relative;
        overflow: hidden;
    }
    .small-selfie-blurb-on-image {
        display: block;
        position: relative;
        overflow: hidden;
        
        .small-selfie-blurb-text {
            position: absolute;
            width: 90%;
            top: 0%;
            left: 5%;
            color: #fff;
            height: 97%;
            
            h2 {
                text-transform: uppercase;
                font-size: 4.5vw;
                position: absolute;
                width: 90%;
                left: 5%;
                top: 12%;
                margin-top: 5%;
                color: #f5f5f5;
            }
            
            p {
                font-family: 'gotham_bookregular';
                font-size: 3.5vw;
                position: absolute;
                width: 70%;
                left: 15%;
                top: 43%;
            }
        }
    }
    .selfie-ipad-container {
        display: none;
    }
    .lg-selfie-ipad-container {
        display: none;
    }
    .small-selfie-text-container {
        display: block;
        width: 100%;
        
        .small-selfie-img-box img {
            height: 65vw;
            margin-left: 23.5%;
            margin-top: 7%;
        }
        
        .small-selfie-text-box {
            width: 100%;
            text-align: center;
            margin-top: 8%;
            
            ul li {
                padding: 0 12%;
            }
            
            .selfie-text {
                font-family: 'gotham_bookregular';
                
                li .selfie-text-header {
                    font-size: 5vw;
                
                    &:hover {
                        color: #9FD1B8;
                    }
                }
                li p {
                    margin-bottom: 11%;
                }
                li .last-selfie-text-block {
                    margin-bottom: 2%;
                }
            }
            
            .brand-values, .social-reach {
                border-bottom: 1px solid rgba(200,200,200,0.4);
            }
        }
    }
    .section-grey-bg {
        background-color: #bfbfbf;
        color: white;
        padding: 11% 0;
        text-transform: uppercase;
        
        h2 {
            margin-left: 5%;
            width: 90%;
            font-size: 4vw;
        }
    }
    .selfie-strip {
        display: none;
    }
    .small-selfie-strip {
        display: block;
        width: 101vw;
        overflow: hidden;
        height: 34.2vw;
        
        img {
            width: 34.5vw;
            margin: 0 -1%;
        }
    }
    .maincta-teal-bg {
        background-color: #a0d1b8;
        color: white;
        padding: 11% 0 14% 0;
        text-transform: uppercase;
        width: 100%;
        
        h2 {
            font-size: 5vw;
            width: 90%;
            margin: 0 5% 5% 5%;
        }
        
        .book-now-button {
            text-decoration: none;
            color: #fff;
            border: 4px solid #fff;
            padding: 3%;
            font-size: 2vw;
        }
    }
    .livefeedcta-bg {
        text-transform: uppercase;
        color: #fff;
        padding: 12% 0 14% 0;
        background: url("/assets/Gif CTA image FINAL.png") no-repeat;
        background-size: cover;
        width: 100%;
        
        h2 {
            margin: 0;
            padding-bottom: 7%;
            font-size: 5vw;
            width: 90%;
            margin-left: 5%;
        }
        
        .gif-enquire-button {
            text-decoration: none;
            color: #fff;
            border: 4px solid #fff;
            padding: 3%;
            font-size: 2vw;
        }
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
    .selfies-hero-image-container {
    
        height: 99vh;
        
        .nav-selfie-image {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0%;
            -webkit-transform-origin: 50% 100%;
            -ms-transform-origin: 50% 100%;
            transform-origin: 0% 100%;
            
            .selfies-hero-text {
                color: #ffffff;
                position: absolute;
                left: 30vw;
                text-align: center;
                top: 10vw;
                text-transform: uppercase;
                font-size: 3vw;
            }
            
            img#facebook-icon {
                position: absolute;
                right: 1.5vw;
                height: 2.8vw;
                top: 17vw;
            }
            img#twitter-icon {
                position: absolute;
                right: 1.5vw;
                height: 2.8vw;
                top: 21vw;
            }
            img#instagram-icon {
                position: absolute;
                right: 1.5vw;
                height: 2.8vw;
                top: 25vw;
            }
      
            #selfie-foreground-hero {
                height: 85vw;
                bottom: 0%;
                // right: 22%;
                margin-left: 24.7vw;
                position: absolute;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                max-height: 42vw;
                width: initial;
            }
        }
    }
    .content1-quote-selfie h2 {
        padding: 9% 15%;
        font-size: 4vw;
    }
    .selfie-no-sprites {
        display: none;
    }
    .selfie-desktop-sprites {
        display: block;
        
        .selfie-shoot-sprite {
            background: url(/assets/shoot-grow-sprite.png) no-repeat;
            height: 14vw;
            background-size: 18vw;
            margin-left: 7vw;
            width: 19vw;
            background-position: 0vw 0vw;
            
            &:hover {
                background-position: 0vw -14vw;
            }
        }
        .selfie-phone-sprite {
            background: url(/assets/selfie-phone-sprite-grow.png) no-repeat;
            height: 14vw;
            margin-left: 7vw;
            background-size: 18vw;
            width: 17vw;
            background-position: 0vw 0.5vw;
            
            &:hover {
                background-position: 0.2vw -16vw;
            }
        }
        .selfie-share-sprite {
            background: url(/assets/selfie-sharethumb-sprite-grow.png) no-repeat;
            height: 13vw;
            background-size: 17vw;
            margin-left: 7vw;
            width: 16vw;
            background-position: 0vw 0vw;
            
            &:hover {
                background-position: 0vw -15vw;
            }
        }
    }
    .selfie-round-shadow {
        
        height: 31vw;
        
        .white-fill-for-selfie .selfie-icon-container {
        
            width: 100%;
        
            .selfie-icon-section {
            
                .row {
                    height: 31vw;
                    margin-bottom: 0;
                    
                    .icon-block-1, .icon-block-2, .icon-block-3 {
                        height: 100%;
                        
                        .icon-block {
                            transform: scale(0.9);
                            
                            h5 {
                                font-size: 2.5vw;
                                padding-bottom: 6%;
                                margin-top: 3vw;
                            }
                            
                            p.light {
                                margin: 0;
                            }
                        }
                    }
                    
                    .icon-block-1 {
                        border-right: 2px solid rgba(200,200,200,0.3);
                        
                        h2 {
                            margin-top: 3.5vw;
                        }
                        img {
                            height: 10vw;
                        }
                    }
                        
                    .icon-block-2 {
                        border-right: 2px solid rgba(200,200,200,0.3);
                        
                        h2 {
                            margin-top: 3vw;
                        }
                        img {
                            height: 10vw;
                        }
                    }
                    
                    .icon-block-3 {
                        
                        h2 {
                            margin-top: 4vw;
                        }
                        img {
                            height: 9vw;
                        }
                    }
                }
            }
        }
    }
    .section-teal-bg {
        display: none;
    }
    .large-section-teal-bg {
        display: block;
        background-color: #a0d1b8;
        color: white;
        padding: 13% 0;
        text-transform: uppercase;
        z-index: -1;
    
        h2 {
            margin: 0;
            font-family: 'gotham_boldregular';
            font-size: 3.4vw;
        }
    }
    .small-selfie-blurb-on-image {
        display: none;
    }
    .selfie-blurb-on-image {
        display: block;
        position: relative;
        overflow: hidden;
        height: 58vw;
        
        .selfie-blurb-text {
        
            position: absolute;
            width: 70%;
            top: 10%;
            left: 15%;
            color: #fff;
            
            h2 {
                text-transform: uppercase;
                font-size: 5vw;
                margin-top: 3vw;
            }
            
            p {
                font-family: 'gotham_bookregular';
                font-size: 2.5vw;
                margin-top: 4%;
            }
        }
    }
    .small-selfie-text-container {
        display: none;
    }
    .lg-selfie-ipad-container {
        
    
        .lg-selfie-ipad-rel-box {
            position: relative;
            width: 80%;
            margin: 0 10%;
            height: 57vw;
            
            img {
                position: absolute;
                height: 45vw;
                top: 5%;
            }
            ul {
                position: absolute;
                width: 38vw;
                left: 53%;
                top: 5%;
                
                p {
                    font-size: 1.5vw;
                    font-family: 'gotham_bookregular';
                }
            }
        }
    }
    .section-grey-bg {
        background-color: #bfbfbf;
        color: white;
        padding: 11% 0;
        text-transform: uppercase;
        
        h2 {
            margin-left: 5%;
            width: 90%;
            font-size: 4vw;
        }
    }
    .small-selfie-strip {
        display: none;
    }
    .selfie-strip {
        display: block;
        margin-top: 0;
        margin-bottom: -1%;
        overflow: hidden;
        width: 101%;
        
        img {
            padding: 0;
            margin: -0.3%;
            width: 20.2%;
        }
    }
    .maincta-teal-bg {
        background-color: #a0d1b8;
        color: white;
        padding: 10% 0 10% 0;
        text-transform: uppercase;
        width: 100%;
        
        h2 {
            font-size: 4vw;
            width: 90%;
            margin: 0 5% 5% 5%;
        }
        
        .book-now-button {
            text-decoration: none;
            color: #fff;
            border: 4px solid #fff;
            padding: 2%;
            font-size: 2vw;
        }
    }
    .livefeedcta-bg {
        text-transform: uppercase;
        color: #fff;
        padding: 9% 0 10% 0;
        background: url("/assets/Gif CTA image FINAL.png") no-repeat;
        background-size: cover;
        width: 100%;
        
        h2 {
            font-size: 4vw;
            padding-bottom: 6%;
        }
        
        .gif-enquire-button {    
            text-decoration: none;
            color: #fff;
            border: 4px solid #fff;
            padding: 2%;
            font-size: 2vw
        }
    }
}












// @media screen and (min-width: 5px) and (max-width: 767px) {
//     // .selfies-hero-image-container {
//     //     height: 99vh;
        
//     //     .nav-selfie-image {
//     //         position: absolute;
//     //         height: 100%;
//     //         width: 100%;
//     //         top: 0%;
//     //         transform-origin: 50% 100%;
        
//     //         #selfie-foreground-hero {
//     //             // height: 49vw;
//     //             bottom: 0%;
//     //             // left: 20%;
//     //             position: absolute;
//     //             -webkit-transform: scale(1);
//     //             -ms-transform: scale(1);
//     //             transform: scale(1.05);
//     //         }
//     //     }
//     // }
//     // .content1-quote-selfie {
//     //     h2 {
//     //         margin: 0;
//     //         font-size: 5.5vw;
//     //         padding: 18% 4%;
//     //     }
//     // }
//     // .selfie-round-shadow {
//     //     width: 100%;
        
//     //     .white-fill-for-selfie {
            
//     //         .selfie-icon-container {
//     //             width: 90%;
//     //             margin: 0 5%;
            
//     //             .row {
//     //                 margin-left: -6%;
//     //                 margin-right: -6%;
//     //                 margin-bottom: 0;
                    
//     //                 .icon-block-1, .icon-block-2 {
//     //                     border-bottom: 1px solid rgba(200,200,200,.4);
//     //                 }
                    
//     //                 .icon-block-1 {
//     //                     img {
//     //                         height: 30vw;
//     //                         margin-top: 6%;
//     //                     }
//     //                     h5 {
//     //                         font-size: 6vw;
//     //                         margin-top: 11%;
//     //                         margin-bottom: 13%;
//     //                     }
//     //                 }
                    
//     //                 .icon-block-2 {
//     //                     img {
//     //                         height: 29vw;
//     //                         margin-top: 6%;
//     //                     }
//     //                     h5 {
//     //                         font-size: 6vw;
//     //                         margin-top: 11%;
//     //                         margin-bottom: 13%;
//     //                     }
//     //                 }
//     //                 .icon-block-3 {
//     //                     padding-bottom: 1%;
                        
//     //                     img {
//     //                         height: 26vw;
//     //                         margin-top: 6%;
//     //                     }
//     //                     h5 {
//     //                         font-size: 6vw;
//     //                         margin-top: 11%;
//     //                         margin-bottom: 13%;
//     //                     }
//     //                 }
//     //             }
//     //         }
//     //     }
//     // }
    
//     // .large-section-teal-bg {
//     //     display: none;
//     // }
    
//     // .section-teal-bg {
//     //     display: block;
//     //     padding: 25% 0;
        
//     //     h2 {
//     //         font-size: 6vw;
//     //         padding: 0;
//     //     }
//     // }
//     // .selfie-blurb-on-image {
//     //     display: none;
//     //     position: relative;
//     //     overflow: hidden;
//     // }
    
//     // .small-selfie-blurb-on-image {
//     //     display: block;
//     //     position: relative;
//     //     overflow: hidden;
        
//     //     .small-selfie-blurb-text {
//     //         position: absolute;
//     //         width: 90%;
//     //         top: 0%;
//     //         left: 5%;
//     //         color: #fff;
//     //         height: 97%;
            
//     //         h2 {
//     //             text-transform: uppercase;
//     //             font-size: 5vw;
//     //             position: absolute;
//     //             width: 90%;
//     //             left: 5%;
//     //             top: 12%;
//     //             margin-top: 5%;
//     //             color: #f5f5f5;
//     //         }
            
//     //         p {
//     //             font-family: 'gotham_bookregular';
//     //             font-size: 4vw;
//     //             position: absolute;
//     //             width: 70%;
//     //             left: 15%;
//     //             top: 38%;
//     //         }
//     //     }
//     // }
//     // .selfie-ipad-container {
//     //     display: none;
//     // }
//     // .small-selfie-text-container {
//     //     display: block;
//     //     width: 100%;
        
//     //     .small-selfie-img-box img {
//     //         height: 95vw;
//     //         margin-left: 11.5%;
//     //         margin-top: 7%;
//     //     }
        
//     //     .small-selfie-text-box {
//     //         width: 100%;
//     //         text-align: center;
//     //         margin-top: 10%;
            
//     //         ul li {
//     //             padding: 0 12%;
//     //         }
            
//     //         .selfie-text {
//     //             font-family: 'gotham_bookregular';
                
//     //             li .selfie-text-header {
//     //                 font-size: 5vw;
                
//     //                 &:hover {
//     //                     color: #9FD1B8;
//     //                 }
//     //             }
//     //             li p {
//     //                 margin-bottom: 14%;
//     //             }
//     //             li .last-selfie-text-block {
//     //                 margin-bottom: 2%;
//     //             }
//     //         }
            
//     //         .brand-values, .social-reach {
//     //             border-bottom: 1px solid rgba(200,200,200,0.4);
//     //         }
//     //     }
//     // }
//     // .section-grey-bg {
//     //     background-color: #bfbfbf;
//     //     color: white;
//     //     padding: 12% 0;
//     //     text-transform: uppercase;
        
//     //     h2 {
//     //         margin-left: 5%;
//     //         width: 90%;
//     //         font-size: 6.5vw;
//     //     }
//     // }
//     // .selfie-strip {
//     //     display: none;
//     // }
//     // .small-selfie-strip {
//     //     display: block;
//     //     width: 100%;
//     //     overflow: hidden;
//     //     height: 19.3%;
        
//     //     img {
//     //         width: 34.2vw;
//     //         margin: 0 -1%;
//     //     }
//     // }
    
//     // .maincta-teal-bg {
//     //     background-color: #a0d1b8;
//     //     color: white;
//     //     padding: 14% 0 18% 0;
//     //     text-transform: uppercase;
//     //     width: 100%;
        
//     //     h2 {
//     //         font-size: 6vw;
//     //         width: 90%;
//     //         margin: 0 5% 5% 5%;
//     //     }
        
//     //     .book-now-button {
//     //         text-decoration: none;
//     //         color: #fff;
//     //         border: 4px solid #fff;
//     //         padding: 3%;
//     //         font-size: 3vw;
//     //     }
//     // }
    
//     // .livefeedcta-bg {
//     //     text-transform: uppercase;
//     //     color: #fff;
//     //     padding: 14% 0;
//     //     background: url("/assets/Gif CTA image FINAL.png") no-repeat;
//     //     background-size: cover;
//     //     width: 100%;
        
//     //     h2 {
//     //         margin: 0;
//     //         padding-bottom: 7%;
//     //         font-size: 6vw;
//     //         width: 90%;
//     //         margin-left: 5%;
//     //     }
        
//     //     .gif-enquire-button {
//     //         text-decoration: none;
//     //         color: #fff;
//     //         border: 4px solid #fff;
//     //         padding: 3%;
//     //         font-size: 3vw;
//     //     }
//     // }
// }
