/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require sweetalert
 *= require_tree .
 */
@import "materialize";

@import "font";
@import "base";
@import "footer";
@import "nav";

@import "gifpage";

@import "selfiepage";

@import "homepage";

@import "printer";

@import 'variables';


html {
    height: 100%;
}

body {
    font-family: 'gotham_bookregular';
    height: 100%;
    margin: 0 0 0 0px;
    padding: 0;
    width: 100%;
    background: white;
    overflow-x: hidden;
}


.general-form-scrollpoint {
    display: none;
}

.scroll-here {
    display: none;
}       
        
















// form#new_contact {
//     width: 42vw;
//     margin-left: 29vw;
//     margin-top: 14vw;
//     margin-bottom: 13vw;
// }










// Gif Sprite  

// .gif-sprite {
//     width: 100px;
//     height: 513px;
//     background-image: url("Gifs for iPad.jpg");
    
//     animation: play 1s steps(5);
// }

// @keyframes play {
//     from { background-position: 0px; }
//     to   { background-position: -2570px; }
// }
    

// .hi {
//     width: 50px;
//     height: 72px;
//     background-image: url("http://s.cdpn.io/79/sprite-steps.png");
    
//     animation: play .8s steps(10) infinite;
// }

// @keyframes play {
    
//     100%   { background-position: -500px; }
// }




