/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

@import "font";
@import "nav";
@import "base";
@import "icon-section";
@import "video-section";
@import "blurb-on-image";
@import "ipad-with-gifs";
@import "gif-row";
@import "orange-quote-section";
@import "check-out-branded-selfies-section";
@import "footer";
@import "quote-section";


 
.selfies-hero-image-container {
    position: relative;
    overflow: hidden;
    background: url("/assets/selfie-hero-img.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 840px;
    width: 100%;


    #selfie-foreground-hero {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        transform: scale(0.7);
        padding-top: 398px;
        padding-right: 144px;
    }
}


.section-teal-bg {
    background-color: #a0d1b8;
    color: white;
    padding: 100px 0;
    text-transform: uppercase;
    
    h2 {
        margin: 0;
    }
}


.selfie-blurb-on-image {
    position: relative;
    overflow: hidden;
    
    img {
        width: 100%;
    }
    
    .selfie-blurb-text {
        position: absolute;
        width: 70%;
        top: 25%;
        left: 15%;
        color: #fff;
    }
    
    h2 {
        text-transform: uppercase;
    }
}





.selfie-ipad-container {
    width: 100%;
    position: relative;
    height: 800px;
    
    .selfie-and-text-box {
        padding-top: 64%;
    }
    
    .img-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        text-align: center;
        
        &:before {
            content: '';
            display: inline;
            vertical-align: middle;
            height: 100%;
        }
        
        .img-ul-container {
            vertical-align: middle;
            display: inline-block;
            
            img {
                position: absolute;
                width: 45%;
                right: 45%;
                top: 6%;
            }
            
            ul {
                position: absolute;
                top: 10%;
                right: 5%;
                bottom: 20%;
                left: 65%;
            }
        }
    }
}


.section-grey-bg {
    background-color: #bfbfbf;
    color: white;
    padding: 100px 0;
    text-transform: uppercase;
    
    h2 {
        margin: 0;
    }
}



.selfie-strip {
    margin-top: 0px;
    margin-bottom: -5px;
    overflow: hidden;
    width: 101%;

    img {
        padding: 0;
        margin: -2px;
        width: 20%;
    }
}

.maincta-teal-bg {
    background-color: #a0d1b8;
    color: white;
    padding: 100px 0;
    text-transform: uppercase;
    
    h2 {
        margin: 0;
        padding-bottom: 30px;
    }
    
    .book-now-button {
        text-decoration: none;
        color: #fff;
        border: 4px solid #fff;
        padding: 11px 23px;
        font-size: 0.8em;
        
        &:hover {
            background-color: #96bca8;
            font-weight: 400;
        }
    }
}


 




























// ----------------------------------------
//           MEDIA QUERIES
// ----------------------------------------    

@media #{$small-and-down} {
    
    .icon-block-1 {
        transform: scale(1);
        margin:initial;
    }
}

@media #{$medium-and-up} {
    
    .icon-block-1, .icon-block-2, .icon-block-3 {
        transform: scale(1.5);
        margin-top: 50px;
        margin-bottom: 150px;
    }
}


@media #{$large-and-up} {
    
    .icon-block-1, .icon-block-2, .icon-block-3 {
        transform: scale(1);
        margin: initial;
    }
}


@media #{$small-and-down} {
    
    .ipad-section-content {
        display: none;
        text-align: center;
        font-weight: lighter;
    }
    .ipad-section-content-small {
        display:block;
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
}

@media #{$medium-and-up} {

    .ipad-section-content {
        display: block
    }
    
    .ipad-section-content-small {
        display :none;    
    }
}


@media #{$small-and-down} {
    .blurb-on-image {
        display: none;
    }
    
    .blurb-on-image-small {
        display: block;
        
    }
}
@media #{$medium-and-up} {
    .blurb-on-image {
        display: block;
    }
    
    .blurb-on-image-small, .blurb-below-image {
        display: none; 
    }
}

// ************************** BLURB ON IMAGE RE-SCALING SECTION ******************************************


@media screen and (min-width: 901px) and (max-width: 1060px) {
    .blurb-on-image p {
        font-size: 1.5em;
    }  
}
@media screen and (min-width: 711px) and (max-width: 900px) {
    .blurb-on-image p {
        font-size: 1.2em;
    }  
}
@media screen and (min-width: 581px) and (max-width: 710px) {
    .blurb-on-image p {
        font-size: 1em;
    }  
}

// *******************************************************************************************************







.box {
    width:70%;
    padding:20px;
    background:#fff;
    margin:20px auto 60px;
    border-radius:2px;
}
.box {
    background:#eee;
    margin:0;
    padding:60px 20px;
    text-align:center;
    -webkit-box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
            box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
}

.css3-shadow{
    background: #fff;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}

.round-shadow {
    background: #fff;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
.round-shadow:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}



// Gif Sprite  

.gif-sprite {
    width: 100px;
    height: 513px;
    background-image: url("Gifs for iPad.jpg");
    
    animation: play 1s steps(5);
}

@keyframes play {
    from { background-position: 0px; }
    to   { background-position: -2570px; }
}
    

.hi {
    width: 50px;
    height: 72px;
    background-image: url("http://s.cdpn.io/79/sprite-steps.png");
    
    animation: play .8s steps(10) infinite;
}

@keyframes play {
    
    100%   { background-position: -500px; }
}

