/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

@import "font";





            // ----------------------------------------
            //           Nav and Parallax Image Section
            // ----------------------------------------

img {
    max-width: 100%;
}

nav {
    height: 112px;
    line-height: 23px;
    background: rgba(10, 10, 10, 0.5);
    
    .nav-container {
        width: 100%;
    }
    
    #brand-logo {
        transform: scale(0.8);
        margin-top: 7px;
    }
    
    ul li {
        margin-top: 27px;
        margin-left: 29px;
    }
    
    ul li a {
        text-transform: uppercase;
       border: 4px solid rgba(255, 255, 255, 0);
       margin: 0px;
       padding: 14px 25px;
       display: inline-block;
       
       &:hover {
            border: 4px solid rgba(255, 255, 255, 1);
       }
    }
}
.hero-image-container {
    position: relative;
    overflow: hidden;
    background: url("/assets/Gif-Background-Final-compressor.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 675px;
    width: 100%;


    #gif-foreground-hero {
        position: absolute;
        top: -9999px;
        bottom: -9999px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        transform: scale(0.5);
        padding-top: 36px;
    }
}


    
// .parallax img {
//     height: auto;
//     width: max-width;
// }


 
            // ----------------------------------------
            //           Horiz Line Section
            // ----------------------------------------

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #e6e6e6;
    margin: 0;   
}

            // ----------------------------------------
            //           Icon Section
            // ----------------------------------------

.icon_section {
    position: relative;
    z-index: -2;
    padding: 80px 0;
    background: #fff;
}

.content1-quote {
    text-transform: uppercase;
    color: #888888;
    padding: 50px;
    
    h2 {
        padding: 50px 0;
        margin-top: 0;
    }
}
.icon-block h5 {
    color: #888888;
}

            // ----------------------------------------
            //           Video Section
            // ----------------------------------------


.gifvideo {
    width: 100%;
}

            // ----------------------------------------
            //           Quote Section
            // ----------------------------------------

.quote-section {
    color: #f7a73f;
    text-transform: uppercase;
    
    h2 {
        padding: 100px 0;
    }
}

            // ----------------------------------------
            //           Blurb on image Section
            // ----------------------------------------

.blurb-on-image-small {
    position: relative;
    
    img {
        width: 100%;
    }
    .blurb-gif-logo {
        position: absolute;
        width: 12%;
        height: auto;
        right: 5%;
        bottom: 7%;
    }
}

.blurb-on-image {
    position: relative;
    
    img {
        width: 100%;   
    }
    p {
        color: white;
        position: absolute;
        left: 10%;
        bottom: 5%;
        width: 60%;
    }
    .blurb-gif-logo {
        position: absolute;
        width: 12%;
        height: auto;
        right: 5%;
        bottom: 7%;
    }
}

.blurb-below-image {

    p {
        margin-top: 100px;
        text-align: center;
        font-size: 1.5em;
    }
    strong {
        font-size: 1.6em;
        text-transform: uppercase;
    }
    .gif-quote-under-image {
        line-height: 2;
    }
}

.blurb-below-image-row {
    margin-bottom: 0;
}

            // ----------------------------------------
            //           iPad Section
            // ----------------------------------------

.ipad-div {
    padding-top: 100px;
}

// // .ipad-section-content {
// //     padding-top: 50%;
// }

            // ----------------------------------------
            //           Gif Row section
            // ----------------------------------------

.gif-strip {
    margin-top: 107px;
    margin-bottom: -5px;

    img {
        padding: 0;
        margin: -2px;
        width: 20%;
    }
}

            // ----------------------------------------
            //           Orange Quote Section
            // ----------------------------------------

.section-orange-bg {
    text-transform: uppercase;
    background: #ff9c1a;
    color: white;

    h2 {
    margin-top: 0;
    }
    a p {
        margin-bottom:0;
    }
}

.section-orange-bg {
    padding: 100px 0 80px 0;
    
    
    h2 {
        margin-bottom: 60px;
    }

    
    a {
    background: 0;
    border: 3px solid white;
    color: white; 
    }
}


            // ----------------------------------------
            //      Check out branded selfies section
            // ----------------------------------------


.section-branded-selfies {
    text-transform: uppercase;
    color: white;
    background: url('/assets/Branded Selfie CTA Graphic.png') no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 0;
    
    

    h2 {
        margin-bottom: 60px;
        width: 70%;
        margin-left: 15%;
    }
    
    a {
        background: 0;
        border: 3px solid white;
        color: white; 
    }
}

            // ----------------------------------------
            //          ipad with gifs secion
            // ----------------------------------------

#wrapper {
  width: 300px;
  margin: 10px auto;
}

/* iPad */
.ipad-front {
  position: relative;
  width: 300px;
  height: 400px;
  background-color: #000;  
  border-radius: 10px;
  border: 2px solid #888;
  padding: 40px;
  box-shadow: 1px 2px 0px #111;
}

.ipad-front-camera {
  width: 8px;
  height: 8px;
  background-color: #222;
  border-radius: 50px;
  position: absolute;
  top: 14px;
  left: 146px;
}

.ipad-front-camera span {
  display: block;
  width: 4px;
  height: 4px;
  background-color: #111;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.ipad-front-display {
  width: 100%;
  height: 100%;
  margin-top: 11px;
  transform: scale(1.07, 1.09);
//   background: url('/assets/ipad-gif.gif');
}

.ipad-front-home-button {
  width: 22px;
  height: 22px;
  background-color: #000;
  border:1px solid #111;
  border-radius: 50px;
  position: absolute;
  bottom: 11px;
  left: 138px;
  box-shadow: 1px 1px 2px #666;
}

.ipad-front-home-button span {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: #000;
  border:1px solid #444;
  border-radius: 2px;
}
/* /iPad */



            // ----------------------------------------
            //           Footer Section
            // ----------------------------------------

footer {
    background: #222222;
    color: #666666;
    margin: 0 0 20px 0;
    padding: 20px 0;
}






// ----------------------------------------
//           MEDIA QUERIES
// ----------------------------------------    

@media #{$small-and-down} {
    
    .icon-block-1 {
        transform: scale(1);
        margin:initial;
    }
}

@media #{$medium-and-up} {
    
    .icon-block-1, .icon-block-2, .icon-block-3 {
        transform: scale(1.5);
        margin-top: 50px;
        margin-bottom: 150px;
    }
}


@media #{$large-and-up} {
    
    .icon-block-1, .icon-block-2, .icon-block-3 {
        transform: scale(1);
        margin: initial;
    }
}


@media #{$small-and-down} {
    
    .ipad-section-content {
        display: none;
        text-align: center;
        font-weight: lighter;
    }
    .ipad-section-content-small {
        display:block;
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
}

@media #{$medium-and-up} {

    .ipad-section-content {
        display: block
    }
    
    .ipad-section-content-small {
        display :none;    
    }
}


@media #{$small-and-down} {
    .blurb-on-image {
        display: none;
    }
    
    .blurb-on-image-small {
        display: block;
        
    }
}
@media #{$medium-and-up} {
    .blurb-on-image {
        display: block;
    }
    
    .blurb-on-image-small, .blurb-below-image {
        display: none; 
    }
}

// ************************** BLURB ON IMAGE RE-SCALING SECTION ******************************************


@media screen and (min-width: 901px) and (max-width: 1060px) {
    .blurb-on-image p {
        font-size: 1.5em;
    }  
}
@media screen and (min-width: 711px) and (max-width: 900px) {
    .blurb-on-image p {
        font-size: 1.2em;
    }  
}
@media screen and (min-width: 581px) and (max-width: 710px) {
    .blurb-on-image p {
        font-size: 1em;
    }  
}

// *******************************************************************************************************







.box {
    width:70%;
    padding:20px;
    background:#fff;
    margin:20px auto 60px;
    border-radius:2px;
}
.box {
    background:#eee;
    margin:0;
    padding:60px 20px;
    text-align:center;
    -webkit-box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
            box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
}

.css3-shadow{
    background: #fff;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}

.round-shadow {
    background: #fff;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
.round-shadow:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}



// Gif Sprite  

.gif-sprite {
    width: 100px;
    height: 513px;
    background-image: url("Gifs for iPad.jpg");
    
    animation: play 1s steps(5);
}

@keyframes play {
    from { background-position: 0px; }
    to   { background-position: -2570px; }
}
    

.hi {
    width: 50px;
    height: 72px;
    background-image: url("http://s.cdpn.io/79/sprite-steps.png");
    
    animation: play .8s steps(10) infinite;
}

@keyframes play {
    
    100%   { background-position: -500px; }
}

