/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "materialize";

@import "font";
@import "base";
@import "footer";

@import "gifpage";




@media screen and (min-width: 5px) and (orientation: portrait) {
    .navcontainer {
        height: 24.7vw;
        
        .nav-elements {
            
            // img {
            //     top: 6vw;
            //     left: 5vw;
            //     height: 13.5vw;
            // }
        }
    }
}

@media screen and (min-width: 768px) and (orientation: portrait) {
    .navcontainer {
        height: 19.7vw;
        
        .nav-elements {
            
            // img {
            //     top: 4vw;
            //     left: 5vw;
            //     height: 11.5vw;
            // }
        }
    }
}

@media screen and (min-width: 5px) and (max-width: 1023px) and (orientation: landscape) {
    .navcontainer {
        height: 10.7vw;
        
        .nav-elements {
            
            img {
                top: 1vw;
                left: 3vw;
                height: 8.5vw;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
    
}





.navcontainer {
    width: 100%;
    // height: 7.7vw;
    background-color: rgba(10,10,10,0);
    border-bottom: 0.1vw solid rgba(255,255,255,0.1);
    
    .nav-elements {
        position: relative;
        width: 100%;
        
        img, .nav-list {
            position: absolute;
        }
        
        // img {
        //     top: 1vw;
        //     left: 2vw;
        //     height: 5.5vw;
        // }
        
        .nav-list {
            left: 19vw;
            font-size: 1vw;
            font-family: 'gotham_bookregular';
            margin-top: 1vw;
            text-transform: uppercase;
            z-index: 999;
            
            
            ul {
                padding: 0;
                list-style: none;
                
                li {
                    // display: inline-block;
                    margin-left: 2vw;
                    padding: 0.6vw 1.7vw;
                }
                    
                a {
                    font-family: 'gotham_bookregular';
                    letter-spacing: 0.1vw;
                }
                    
                .nav-home {
                    color: rgb(250, 156, 37);
                    li {
                        border: 0.3vw solid rgba(250, 156, 37, 0);
                        transition: border 0.4s ease;
                        &:hover {
                            border: 0.3vw solid rgba(250, 156, 37, 1);
                        }
                    }
                }
                .nav-toys {
                    color: rgb(143, 218, 230);
                    li {
                        border: 0.3vw solid rgba(143, 218, 230, 0);
                        transition: border 0.4s ease;
                        &:hover {
                            border: 0.3vw solid rgba(143, 218, 230, 1);
                        }
                    }
                }
                .nav-pastevents {
                    color: rgb(238, 164, 172);
                    li {
                        border: 0.3vw solid rgba(238, 164, 172, 0);
                        transition: border 0.4s ease;
                        &:hover {
                            border: 0.3vw solid rgba(238, 164, 172, 1);
                        }
                    }
                }
                .nav-contact {
                    color: rgb(159, 209, 184);
                    li {
                        border: 0.3vw solid rgba(159, 209, 184, 0);
                        transition: border 0.4s ease;
                        &:hover {
                            border: 0.3vw solid rgba(159, 209, 184, 1);
                        }
                    }
                }
                .nav-partners {
                    color: rgb(255, 155, 126);
                    li {
                        border: 0.3vw solid rgba(255, 155, 126, 0);
                        transition: border 0.4s ease;
                        &:hover {
                            border: 0.3vw solid rgba(255, 155, 126, 1);
                        }
                    }
                }
            }
        }
    }
}


img.logo-main {
    z-index: 999;
}


// 
.dropdown-ul {
    position: absolute;
    
    .nav-item {
        position: absolute;
        width: 9vw;
        left: 80vw;
        -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
                transform: scale(0.5);
        top: 1.5vw;
    }
    // .nav-item:focus ~ .nav-content {
    //     max-height: 144vw;
    //     -webkit-transition: max-height 0.4s ease;
    //     transition: max-height 0.4s ease;
    // }
    
    .nav-content {
        background-color: rgba(0,0,0,0.8);
        width: 55vw;
        position: absolute;
        top: -5vw;
        left: 22vw;
        height: 139vw;
        z-index: 2;
        overflow: hidden;
        max-height: 150vw;
        display: none;
        
        .nav-sub {
            margin-top: 32vw;
            
            ul {
                font-size: 1.3vw;
                text-align: center;
                font-family: 'gotham_bookregular';
                letter-spacing: 0.2vw;
                text-transform: uppercase;
            }
            li {
                display: block;
            }
            p {
                width: 17vw;
                margin-left: 19vw;
                margin: 1vw 1vw 3vw 19vw;
                border: 0.4vw solid transparent;
                -webkit-transition: border 0.4s ease;
                transition: border 0.4s ease;
                padding: 1vw 1vw;
                color: white;
            }
            
            .home-p {
                color: rgba(250 ,156 ,37 ,1);
            }
            .toys-p {
                color: rgba(143, 218, 230, 1);
            }
            .pastevents-p {
                color: rgba(238, 164, 172, 1);
            }
            .contact-p {
                color: rgba(159, 209, 184, 1);
            }
            .partners-p {
                color: rgba(255, 155, 126, 1);
            }
            
            .home-li:hover .home-p {
                border: 0.4vw solid rgba(250 ,156 ,37 ,1);
                -webkit-transition: border 0.4s ease;
                transition: border 0.4s ease;
            }
            .toys-li:hover .toys-p {
                border: 0.4vw solid rgba(143, 218, 230, 1);
                -webkit-transition: border 0.4s ease;
                transition: border 0.4s ease;
            }
            .pastevents-li:hover .pastevents-p {
                border: 0.4vw solid rgba(238, 164, 172, 1);
                -webkit-transition: border 0.4s ease;
                transition: border 0.4s ease;
            }
            .contact-li:hover .contact-p {
                border: 0.4vw solid rgba(159, 209, 184, 1);
                -webkit-transition: border 0.4s ease;
                transition: border 0.4s ease;
            }
            .partners-li:hover .partners-p {
                border: 0.4vw solid rgba(255, 155, 126, 1);
                -webkit-transition: border 0.4s ease;
                transition: border 0.4s ease;
            }
        }
    }
}

@media screen and (min-width: 5px) and (orientation: portrait) {
    
    .navcontainer {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    
    .navbar-desktop {
        display: none;
    }
    
    .navbar-dropdown {
        display: block;
    }
    
    img.logo-main {
        top: 5vw;
        left: 5vw;
        height: 15.5vw;
    }
    .dropdown-ul {
        
        .nav-item {
            position: absolute;
            width: 9vw;
            left: 83vw;
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            top: 2.8vw;
            z-index: 999;
        }
        
        // .nav-item:focus ~ .nav-content {
        //     max-height: 146vw;
        //     -webkit-transition: max-height 0.4s ease;
        //     transition: max-height 0.4s ease;
            
        // }
        .nav-content {
            background-color: rgba(0, 0, 0, 0.8);
            width: 100vw;
            position: absolute;
            top: -4vw;
            left: 0vw;
            height: 143vw;
            z-index: 2;
            overflow: hidden;
            max-height: 150vw;
            display: none;
            border-bottom: 1px solid grey;
            
            .nav-sub {
                margin-top: 33vw;
                
                ul {
                    font-size: 4.3vw;
                    text-align: center;
                    font-family: 'gotham_bookregular';
                    letter-spacing: 0.2vw;
                    text-transform: uppercase;
                }
                p {
                    width: 38vw;
                    margin-left: 19vw;
                    text-align: center;
                    margin: 10vw 1vw 10vw 33vw;
                    border: 0.4vw solid transparent;
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                    padding: 2vw 1vw;
                }
            }
        }
    }
}


@media screen and (min-width: 768px) and (orientation: portrait) {
    
    .navcontainer {
        border-bottom: 0.2vw solid rgba(255, 255, 255, 0.1);
    }
    .navbar-desktop {
        display: none;
    }
    
    .navbar-dropdown {
        display: block;
    }
    
    img.logo-main {
        top: 4vw;
        left: 5vw;
        height: 12vw;
    }
    .dropdown-ul {
        
        .nav-item {
            position: absolute;
            width: 9vw;
            left: 84vw;
            -webkit-transform: scale(1, 1);
                -ms-transform: scale(1, 1);
                    transform: scale(1, 1);
            top: 4vw;
            z-index: 999;
        }
        .nav-content {
            height: 44vw;
        
            .nav-sub {
                margin-top: 26vw;
            
                ul {
                    font-size: 1.66vw;
                    text-align: center;
                    font-family: 'gotham_bookregular';
                    letter-spacing: 0.2vw;
                    text-transform: uppercase;
                    margin-left: 2vw;
                }
                li {
                    display: inline-block;
                    float: left;
                    margin: 0 1vw;
                }
                p {
                    padding: 2vw 1vw;
                    width: 17vw;
                }
                .home-p, .toys-p, .pastevents-p, .contact-p, .partners-p {
                    margin: 0;
                }
                .home-p:hover {
                    border: 0.4vw solid rgba(250 ,156 ,37 ,1);
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                }
                .toys-p:hover {
                    border: 0.4vw solid rgba(143, 218, 230, 1);
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                }
                .pastevents-p:hover {
                    border: 0.4vw solid rgba(238, 164, 172, 1);
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                }
                .contact-p:hover {
                    border: 0.4vw solid rgba(159, 209, 184, 1);
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                }
                .partners-p:hover {
                    border: 0.4vw solid rgba(255, 155, 126, 1);
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                }
            }
        }
    }
}


@media screen and (min-width: 5px) and (max-width: 1023px) and (orientation: landscape) {
    
    .navbar-desktop {
        display: none;
    }
    
    .navbar-dropdown {
        display: block;
    }
    
    .navcontainer {
        border-bottom: 1px solid rgba(255,255,255,0.1) !important;
    }
    .dropdown-ul {
    
        .nav-item {
            position: absolute;
            width: 9vw;
            left: 83vw;
            -webkit-transform: scale(0.6);
            -ms-transform: scale(0.6);
            transform: scale(0.6);
            top: 0.5vw;
            z-index: 999;
        }
        .nav-content {
            background-color: rgba(0, 0, 0, 0.8);
            width: 100vw;
            position: absolute;
            top: -5vw;
            left: 0;
            height: 27vw;
            z-index: 2;
            overflow: hidden;
            max-height: 150vw;
            display: none;
            border-bottom: 1px solid rgba(255,255,255,0.3);
            
            .nav-sub {
                margin-top: 15vw;
                
                ul {
                    font-size: 1.3vw;
                    text-align: center;
                    font-family: 'gotham_bookregular';
                    letter-spacing: 0.2vw;
                    text-transform: uppercase;
                    display: flex;
                }
                p {
                    width: 18vw;
                    margin-left: 19vw;
                    margin: 1vw 1vw 1vw 1vw;
                    border: 0.4vw solid transparent;
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                    padding: 1.5vw 1vw;
                }
                .home-p:hover {
                    border: 0.4vw solid rgba(250 ,156 ,37 ,1);
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                }
                .toys-p:hover {
                    border: 0.4vw solid rgba(143, 218, 230, 1);
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                }
                .pastevents-p:hover {
                    border: 0.4vw solid rgba(238, 164, 172, 1);
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                }
                .contact-p:hover {
                    border: 0.4vw solid rgba(159, 209, 184, 1);
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                }
                .partners-p:hover {
                    border: 0.4vw solid rgba(255, 155, 126, 1);
                    -webkit-transition: border 0.4s ease;
                    transition: border 0.4s ease;
                }
            }
        }
    }
}


@media screen and (min-width: 1024px) and (orientation: landscape) {
    
    .navbar-dropdown {
        display: none;
    }
    
    .navbar-desktop {
        display: block;
    }

    
    .navcontainer {
        height: 10.7vw;
        
        .nav-elements {
            
            img {
                top: 2.5vw;
                left: 3vw;
                height: 5.5vw;
            }
            .nav-list {
                left: 18vw;
                font-size: 1.3vw;
                font-family: 'gotham_bookregular';
                margin-top: 3.2vw;
                text-transform: uppercase;
                z-index: 999;
                
                ul {
                    padding: 0;
                    list-style: none;
                    display: flex;
                    
                    .home-link {
                        color: rgb(250, 156, 37);
                        border: 0.4vw solid rgba(250, 156, 37, 0);
                        
                        &:hover {
                           border: 0.4vw solid rgba(250, 156, 37, 1); 
                        }
                    }
                    .toys-link {
                        color: rgb(143, 218, 230);
                        border: 0.4vw solid rgba(143, 218, 230, 0);
                        
                        &:hover {
                            border: 0.4vw solid rgba(143, 218, 230, 1);
                        }
                    }
                    .pastevents-link {
                        color: rgb(238, 164, 172);
                        border: 0.4vw solid rgba(238, 164, 172, 0);
                        
                        &:hover {
                            border: 0.4vw solid rgba(238, 164, 172, 1);
                        }
                    }
                    .contact-link {
                        color: rgb(159, 209, 184);
                        border: 0.4vw solid rgba(159, 209, 184, 0);
                        
                        &:hover {
                            border: 0.4vw solid rgba(159, 209, 184, 1);
                        }
                    }
                    .partners-link {
                        color: rgb(255, 155, 126);
                        border: 0.4vw solid rgba(255, 155, 126, 0);
                        &:hover {
                            border: 0.4vw solid rgba(255, 155, 126, 1);
                        }
                    }
                    
                    li {
                        margin-left: 1vw;
                        padding: 0;
                    }
                    a {
                        font-family: 'gotham_bookregular';
                        letter-spacing: 0.1vw;
                        padding: 1.5vw 2.5vw;
                        margin: 0 1vw;
                    }
                }
            }
        }
    }
    
}































 




























// ----------------------------------------
//           MEDIA QUERIES
// ----------------------------------------    

@media #{$small-and-down} {
    
    .icon-block-1 {
        transform: scale(1);
        margin:initial;
    }
}

@media #{$medium-and-up} {
    
    // .icon-block-1, .icon-block-2, .icon-block-3 {
    //     transform: scale(1.5);
    //     margin-top: 50px;
    //     margin-bottom: 150px;
    // }
}


@media #{$large-and-up} {
    
    .icon-block-1, .icon-block-2, .icon-block-3 {
        transform: scale(1);
        // margin: initial;
    }
}


@media #{$small-and-down} {
    
    .ipad-section-content {
        display: none;
        text-align: center;
        font-weight: lighter;
    }
    .ipad-section-content-small {
        display:block;
        font-size: 20px;
        text-align: center;
        margin-bottom: 50px;
    }
}

// @media #{$medium-and-up} {

//     .ipad-section-content {
//         display: block
//     }
    
//     .ipad-section-content-small {
//         display :none;    
//     }
// }


@media #{$small-and-down} {
    .blurb-on-image {
        display: none;
    }
    
    .blurb-on-image-small {
        display: block;
        
    }
}
// @media #{$medium-and-up} {
//     .blurb-on-image {
//         display: block;
//     }
    
//     .blurb-on-image-small, .blurb-below-image {
//         display: none; 
//     }
// }

// ************************** BLURB ON IMAGE RE-SCALING SECTION ******************************************


@media screen and (min-width: 901px) and (max-width: 1060px) {
    .blurb-on-image p {
        font-size: 1.5em;
    }  
}
@media screen and (min-width: 711px) and (max-width: 900px) {
    .blurb-on-image p {
        font-size: 1.2em;
    }  
}
@media screen and (min-width: 581px) and (max-width: 710px) {
    .blurb-on-image p {
        font-size: 1em;
    }  
}

// *******************************************************************************************************







.box {
    width:70%;
    padding:20px;
    background:#fff;
    margin:20px auto 60px;
    border-radius:2px;
}
.box {
    background:#eee;
    margin:0;
    padding:60px 20px;
    text-align:center;
    -webkit-box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
            box-shadow:0 0px 4px rgba(0, 0, 0, 0.2);
}

.css3-shadow{
    background: #fff;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
/*==================================================
 * Drop shadow effect with box-shadow
 * ===============================================*/
.css3-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}

.round-shadow {
    background: #fff;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}
.round-shadow:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}



// Gif Sprite  

.gif-sprite {
    width: 100px;
    height: 513px;
    background-image: url("Gifs for iPad.jpg");
    
    animation: play 1s steps(5);
}

@keyframes play {
    from { background-position: 0px; }
    to   { background-position: -2570px; }
}
    

.hi {
    width: 50px;
    height: 72px;
    background-image: url("http://s.cdpn.io/79/sprite-steps.png");
    
    animation: play .8s steps(10) infinite;
}

@keyframes play {
    
    100%   { background-position: -500px; }
}




