
             <!-------------------------------------------->
             <!--          NavBar Section                -->
             <!--------------------------------------------> 




<div class="navcontainer navbar-dropdown">
    <div class="nav-elements">
        <ul class="dropdown-ul">
            <li class="dropdown-main-li">
                <a class="nav-item" href="#"><img class="dropdown-image" src="<%= asset_path( 'menu-dropdown-icon.png' ) %>"></a>
                <div class="nav-content">
                    <div class="nav-sub">
                        <ul>
                            <a href="http://google.com.au"><li class="home-li"><p class="home-p">Home</p></li></a>
                            <a href=""><li class="toys-li"><p class="toys-p">Toys</p></li></a>
                            <a href=""><li class="pastevents-li"><p class="pastevents-p">Past Events</p></li></a>
                            <a href=""><li class="contact-li"><p class="contact-p">Contact</p></li></a>
                            <a href=""><li class="partners-li"><p class="partners-p">Partners</p></li></a>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
        <a href="/"><img class="logo-main" src="<%= asset_path('social-playground-logo.png')%>"></a>
    </div>
</div>             <!-----------------  /Dropdown Navbar Section   ----------------->



<div class="navcontainer navbar-desktop">
    <div class="nav-elements">
        <a href="/"><img src="<%= asset_path('social-playground-logo.png')%>"></a>
        <div class="nav-list">
            <ul class="nav-ul">
                <li><a href="" class="home-link">Home</a></li>
                <li><a href="" class="toys-link">Toys</a></li>
                <li><a href="" class="pastevents-link">Past Events</a></li>
                <li><a href="" class="contact-link">Contact</a></li>
                <li><a href="" class="partners-link">Partners</a></li>
            </ul>
        </div>
    </div>
</div>              <!-----------------  /Desktop Navbar Section   ----------------->

    


