<nav>
  <div class="container nav-container">
    <div class="row">
      <div class="nav-wrapper">
        <a href="#" id="brand-logo" class="col l2"><img src="<%= asset_path('social-playground-logo.png')%>"></a>
        <ul id="nav-mobile" class=" col l10 right hide-on-med-and-down nav-desktop">
          <li><a id="link-home" href="">Home</a></li>
          <li><a id="link-toys" href="">Toys</a></li>
          <li><a id="link-pastevents" href="">Past Events</a></li>
          <li><a id="link-contacts" href="">Contacts</a></li>
          <li><a id="link-partners" href="">Partners</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
