<nav>
  <div class="container nav-container">
    <div class="row">
      <div class="nav-wrapper">
        <a href="#" id="brand-logo" class="col l2"><img src="<%= asset_path('social-playground-logo.png')%>"></a>
          <ul id="nav-mobile" class=" col l10 right hide-on-med-and-down nav-desktop">
            <li><a id="link-home" href="sass.html">Home</a></li>
            <li><a id="link-toys" href="badges.html">Toys</a></li>
            <li><a id="link-pastevents" href="collapsible.html">Past Events</a></li>
            <li><a id="link-contacts" href="collapsible.html">Contacts</a></li>
            <li><a id="link-partners" href="collapsible.html">Partners</a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>