<div class="navcontainer">
    <div class="nav-elements">
        <a href="/"><img src="<%= asset_path('social-playground-logo.png')%>"></a>
        <div class="nav-list">
            <ul class="nav-ul">
                <li><a href="">Home</a></li>
                <li><a href="">Toys</a></li>
                <li><a href="">Past Events</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Partners</a></li>
            </ul>
        </div>
    </div>
</div>


